@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size:1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.646vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.314vw 0vw 1.366vw 19.653vw;
}
.burger{
    display: none;
}
.nav_ul_menu :nth-child(3){
    flex-shrink: 0;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.70573vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
 .breadcrumbs-item {
    display: inline;
    vertical-align: top;
 }
 .breadcrumbs-item:not(:last-child):after {
    content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    margin-left: 2.8px;
    margin-right: 0.5999999999999996px;
 }
 .breadcrumbs-link {
   color: #61B75A;
   text-decoration: none;
   transition: 1s;
 }
 .breadcrumbs-link:not(span):hover {
   color: #4e9347;
 }
 .breadcrumbs-link.current {
   color: #4e9347;
   text-decoration: none;
   transition: 0.5s;
 }
.article_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 21px 0px 1.61061vw 19.70573vw;
}
.article_title{
    font-size: 3.46821vw;
    font-family: "MontBold";
}
.articles{
    display: grid;
    grid-template: repeat(6, 21.20990vw) / repeat(3, 1fr);
    width: 61.04167vw;
    column-gap: 2.13750vw;
    row-gap: 2.08385vw;
    margin-left: 19.70573vw;
    margin-bottom: 65px;
}
.main_article{
    grid-column: 1/3;
    background-color: rgba(121, 242, 0, 0.27);
    border-radius: 0px 0px 1.38333vw 1.38333vw;
}
.main_photo{
    width: 39.98229vw;
    height: 14.07283vw;
    margin-bottom: 0.947vw;
}
.main_photo img{
    width: 100%;
    height: 100%;
}
.title{
    font-size: 1.41813vw;
    font-family: "MontSemiBold";
    margin-bottom: 0.30781vw;
    width: 27.32865vw;
    margin-left: 1.999vw;
}
.date{
    font-size: 1.07224vw;
    font-family: "MontSemiBold";
    margin-left: 2.052vw;
    color: #61B75A;
}
.little_article{
    background-color: rgba(121, 242, 0, 0.27);
    border-radius: 0px 0px 1.38333vw 1.38333vw;
}
.little_photo{
    width: 18.898vw;
    height: 14.046vw;
    margin-bottom: 0.828vw;
}
.little_photo img{
    width: 100%;
    height: 100%;
}
.little_title{
    font-size: 1.418vw;
    font-family: "MontSemiBold";
    margin-bottom: 0.627vw;
    margin-left: 1.901vw;
}
.little_date{
    font-size: 1.072vw;
    font-family: "MontSemiBold";
    margin-left: 1.901vw;
    color: #61B75A;
}
.button_return{
    display: inline-block;
    width: 20.22911vw;
    height: 6.03941vw;
    border-radius: 0.631vw;
    background: #B2EE8E;
    margin-left: 40.385vw;
    font-family: "MontMedium";
    border: none;
    font-size: 1.62901vw;
    margin-bottom: 4.995vw;
    cursor: pointer;
    padding: 1.02260vw 4.09774vw;
    line-height: 1.998vw;
    text-align: center;
}
.button_return:link{
    color: #000;
    text-decoration: none;
}
.button_return:visited{
    color: #000;
    text-decoration: none;
}
.button_return:hover{
    color: #000;
    text-decoration: none;
}
.button_return:active{
    color: #000;
    text-decoration: none;
} 
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 19.548vw;
    padding-right: 19.653vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 20.967vw;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
    margin-top: 7.315vw; 
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}