@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.burger{
    display: none;
}
.nav_ul_menu{
    font-size: 1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 1.646vw;
    padding-inline-start: 0px;
    letter-spacing: 0%;
    margin: 1.32vw 0vw 2.94vw 19.6vw;
    line-height: 27px;
}
.basket{
    display: flex;
    align-items: center;
    margin-left: 8.094vw;
    margin-top: -3px;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width:9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 1.314vw;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.6vw;
   margin-bottom: 0.97vw;
   margin-right: -6px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    display: inline-block;
    margin-left: 2.8px;
    margin-right: 0.5999999999999996px;
    display: inline-block;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.catalog_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.05vw 0px 1.6vw 19.6vw;
}
.catalog_title{
    font-size: 3.468vw;
    font-family: "MontBold";
    line-height: 80px;
    margin-right: 15.6vw;
}
.catalog_search{
    width:31.024vw;
    height: 2.603vw;
    border: 1px solid rgba(38, 86, 26, 0.83);
    border-radius: 1.275vw;
    padding-left: 25.07px;
    padding-top: 6.109999999999999px;
    background-image: url(../icons/main_icons/catalog_seach_magnifier.png);
    background-repeat: no-repeat;
    background-position: top 8.369999999999999px right 19px;
    margin-top: -2px;
}
.catalog_search::placeholder{
    opacity: 0.39;
    font-size: 21px;
    font-family: "MontReg";
}
.tab {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 19.6vw;
    margin-right: 16.6vw;
    border:0px;
    width: auto;
}
.tablinks{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tab button {
    background-color: inherit;
    border-radius: 0.710vw 0.710vw 0px 0px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border:0px;
    width: 15.406vw;
    height: 5.300vw;
    font-size: 25px;
    font-family: "MontSemiBold";
}
.tab button:hover {
    background-color: rgba(150, 228, 72, 0.15);
}
.tab button.active {
    background-color: rgba(150, 228, 72, 0.35);
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tablink_title_1{
    padding-top: 1.131vw;
    line-height: 30px;
    padding-left: 0.053vw;
}
.tablink_title_2{
    padding-top: 1.152vw;
}
.tablink_title_3{
    padding-top: 1.131vw;
}
.tablink_title_4{
    padding-top: 1.756vw;
}
.tablink_title_5,
.tablink_title_6{
    padding-top: 2.208vw;
}
.tablink_title_7{
    padding-top: 2.209vw;
}
.tablink_title_8{
    padding-top: 2.211vw;
}
.tablink_title_9{
    padding-top:2.341vw;
    padding-left: 1px;
}
.tablink_title_10{
    padding-top: 2.341vw;
}
.tablink_title_11{
    padding-top: 2.337vw;
}
.tablink_title_12{
    padding-top: 2.341vw;
}
.tablink_title_13{
    padding-top: 2.223vw;
    padding-left: 0.053vw;
}
.tablink_title_14{
    padding-top: 2.239vw;
}
.active{
    background-color:#DDD;
    height: 0.266vw;
    width: 15.471vw;
    margin: 0px;
}
.tablink_1 p{
    margin-top: 1.131vw;
}
.tablinks.active span {
    background-color: #76CB33;
}
.tabcontent {
    margin-top: 2.865vw;
    display: flex;
    flex-direction: column;
    margin-left: 19.6vw;
    margin-bottom: 2.089vw;
    padding: 1.131vw 0px 0px 0.609vw;
    animation: fadeEffect 1s; 
}
.tabcontent_sort{
    font-size: 27px;
    font-family: "MontMedium";
    margin-right: 2.225vw;
    margin-left: 0.158vw;
    margin-top: 0.053vw;
}
.naim{
    color: #61B75A;
    font-size: 27px;
    font-family: "MontMedium";
    margin-right: 0.275vw;
}
.flex_naim{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #61B75A;
    text-decoration: underline;
    margin-right: 2.123vw;
}
.flex_naim_2{
    display: flex;
    flex-direction: row;
    margin-right: -2.123vw;
    align-items: center;
}
.flex_sort{
    display: flex;
    flex-direction: row;
    margin-bottom: 37.05px;
}
.catalog_cart{
    display: flex;
    flex-direction: row;
    gap:0px;
    background: rgba(121, 242, 0, 0.27);
    border-radius: 25px;
    width: 61.587vw;
    height: 17.329vw;  
    padding: 37.21px 106.13px 36.41px 37.23px;
    margin-bottom: 20.64vw;
}
.catalog_cart:last-child{
    margin-bottom: 0px;
}
.catalog_photo{
    width: 340px;
    height: 255px;
    margin: 0px;
    margin-right: 2.77vw;
}
.catalog_photo img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.cart_description{
    display: flex;
    flex-direction: column;
    width: 380px;
}
.cart_description h2{
    font-size: 31px;
    font-family: "MontSemiBold";
    margin: 3px -0.105vw 0.210vw 0.105vw;
}
.description {
    font-size: 24px;
    font-family: "MontReg";
    margin:0px 0px 1.051vw 0.210vw;
    text-align: justify;
    width: 636px;
    line-height: 137%;
}
.description_2 {
    font-size: 24px;
    font-family: "MontReg";
    margin:0px 0px 1.156vw 0.210vw;
    text-align: justify;
    width: 636px;
    line-height: 137%;
}
.price{
    font-size: 24px;
    font-family: "MontBold";
    color:#026A27;
    margin:0px 0px 0.91vw 0.11vw;
}
.qty{
    margin-right: 1.58vw;
    display: flex;
    align-items: center;
}
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-family: "MontBold";
    font-size: 33px;
    line-height: 30px;
    padding: 0px;
    margin: 0vw;
    min-width: 35px;
    text-align: center;
    width: 57.47px;
    height: 48.45px;
    border: none;
  }
.count:focus{
    border:1px solid #61B75A;
  }

.qty .plus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 41.83px;
    height: 48.45px;
    font-size: 44px;
    margin: 0vw;
    text-align: center;
    border-radius: 0px 7px 7px 0px;
    font-family: "MontBold";
    color: #164400;
    border: none;
    line-height: 49px;
}
.qty .minus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    width: 41.83px;
    height: 48.45px;
    font-size: 44px;
    line-height: 45px;
    border-radius: 7px 0px 0px 7px;
    text-align: center;
    font-family: "MontBold";
    color: #164400;
}
.description_basket{
    border: none;
    width: 180.332px;
    height: 48.581px;
    background-color: #A6F682;
    border-radius: 7px;
    font-size: 25px;
    font-family: "MontSemiBold";
    cursor: pointer;
    padding-bottom: 5px;
}

.tabcontent a:active{
    color: #000;
    text-decoration: none;
}
.tabcontent a:link{
    color: #000;
    text-decoration: none;
}
.tabcontent a:hover{
    color: #000;
    text-decoration: none;
}
.tabcontent a:visited{
    color: #000;
    text-decoration: none;
}
.cart_buttons{
    display: flex;
    flex-direction: row;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "MontMedium";
    font-size: 35px;
    padding: 0px;
    margin-bottom: 4.782vw;
}
.pagination_left_row img{
    margin:0.420vw 0.870vw 0px -0.525vw;
}
.pagination_right_row img{
    vertical-align:middle;
}
.pagination :nth-child(2){
    margin-right: 2.423vw;
    margin-top: 3px;
}
.pagination :nth-child(3){
    margin-top: 3px;
    margin-right: 0.689vw;
}
.pagination_active{
    font-size: 40px;
    color: #07491E;
    text-align: center;
    width: 51.48px;
    height: 51.48px;
    margin-right: 0.705vw;
    background-color: #DAF6BF;
    border-radius: 50%;
}
.pagination :nth-child(5){
    margin-top: 3px;
    margin-right: 1.437vw;
}
.pagination :nth-child(6){
    margin-top: 3px;
    margin-right: 1.500vw;
}
.pagination :nth-child(7){
    margin-top: 3px;
    margin-right: 1.430vw;
}
.pagination :nth-child(8){
    margin-top: 3px;
    margin-right: 0.943vw;
}
.pagination :nth-child(9){
    margin-top: 3px;
    margin-right: 0.943vw;
}
.pagination :nth-child(10){
    margin-top: 3px;
    margin-right: 2.431vw;
}
.pagination :nth-child(11){
    margin-right: 0.613vw;
    margin-top: 3px;
}
footer{
    background-color: #9DD58F;
    border-radius: 128px 108px 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 372px;
    padding-right: 374px;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 399px;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap:9.15px;
    align-items: center;
    margin-left: 1.022vw;
}

.footer_icons_contacts :last-child{
    margin-top:0.158vw;
    margin-left: 0.053vw;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_icon_society{
    margin-right: 0.863vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;    
    line-height: 168.8%; 
    margin-top: 7.36vw; 
    padding-left: 0px;
    /* margin-top: 133.21px;  */
    width: 419px;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
    margin-top: 4px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}



