@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size:1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.646vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.314vw 0vw 1.366vw 19.653vw;
}
.burger{
    display: none;
}
.nav_ul_menu :nth-child(3){
    flex-shrink: 0;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.70573vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    display: inline-block;
    margin-left: 2.8px;
    margin-right: 0.5999999999999996px;
    display: inline-block;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.catalog_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0vw 1.61061vw 19.653vw;
}
.catalog_title{
    font-size: 3.46821vw;
    font-family: "MontBold";
    line-height: 80px;
    margin-right: 15.67788vw;
}
.catalog_search{
    width: 31.024vw;
    height: 2.498vw;
    border: 1px solid rgba(38, 86, 26, 0.83);
    border-radius: 24.267px;
    padding-left: 1.31739vw;
    padding-top: 0.32107vw;
    background-image: url(../icons/main_icons/catalog_seach_magnifier.png);
    background-repeat: no-repeat;
    background-size: 1.524vw;
    background-position: top 0.387vw right 0.998vw;
}
.catalog_search::placeholder{
    opacity: 0.39;
    font-size: 1.104vw;
    font-family: "MontReg";
}
.tab {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 19.65318vw;
    border: 0px;
    width: 61.77667vw;
}
.tablinks{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tab button {
    background-color: inherit;
    border-radius: 0.70993vw 0.70993vw 0px 0px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border:0px;
    width: 15.40568vw;
    height: 5.30005vw;
    font-size: 1.31372vw;
    font-family: "MontSemiBold";
}
.tab button:hover {
    background-color: rgba(150, 228, 72, 0.15);
}
.tab button.active {
    background-color: rgba(150, 228, 72, 0.35);
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tablink_title_1{
    padding-top: 1.13085vw;
    line-height: 1.57646vw;
    /* padding-left: 1px; */
}
.tablink_title_2{
    padding-top: 1.15239vw;
}
.tablink_title_3{
    padding-top: 1.13085vw;
}
.tablink_title_4{
    padding-top: 1.75617vw;
}
.tablink_title_5,
.tablink_title_6{
    padding-top: 2.20757vw;
}
.tablink_title_7{
    padding-top: 2.20862vw;
}
.tablink_title_8{
    padding-top: 2.21125vw;
}
.tablink_title_9{
    padding-top: 2.34104vw;
    /* padding-left: 1px; */
}
.tablink_title_10{
    padding-top: 2.34104vw;
}
.tablink_title_11{
    padding-top: 2.33684vw;
}
.tablink_title_12{
    padding-top: 2.34104vw;
}
.tablink_title_13{
    padding-top: 2.22281vw;
    /* padding-left: 1px; */
}
.tablink_title_14{
    padding-top: 2.23857vw;
}
.active{
    background-color:#DDD;
    height: 5.06px;
    width: 15.40568vw;
    margin: 0px;
}
.tablink_1 p{
    margin-top: 21.52px;
}
.tablinks.active span {
    background-color: #76CB33;
}
.tabcontent {
    margin-top: 54.53px;
    display: flex;
    flex-direction: column;
    margin-left: 19.65318vw;
    margin-bottom: 39.79px;
    padding: 21.52px 0px 0px 11.58x;
    animation: fadeEffect 1s; 
}
.tabcontent_sort{
    font-size: 1.41881vw;
    font-family: "MontMedium";
    margin-right: 42.35px;
    margin-left: 3px;
    margin-top: 1px;
}
.naim{
    color: #61B75A;
    font-size: 1.41881vw;
    font-family: "MontMedium";
    margin-right: 5.23px;
}
.flex_naim{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #61B75A;
    text-decoration: underline;
    margin-right: 40.4px;
}
.flex_naim_2{
    display: flex;
    flex-direction: row;
    margin-right: 40.4px;
    align-items: center;
}
.flex_sort{
    display: flex;
    flex-direction: row;
    margin-bottom: 37.05px;
}
.catalog_cart{
    display: flex;
    flex-direction: row;
    gap:0px;
    background: rgba(121, 242, 0, 0.27);
    border-radius: 1.31372vw;
    width: 61.58697vw;
    height: 17.32885vw;  
    padding: 1.949vw 5.566vw 1.912vw 1.950vw;
    margin-bottom: 2.64319vw;
}
.catalog_cart:last-child{
    margin-bottom: 0px;
}
.catalog_photo{
    width: 17.86653vw;
    height: 13.39989vw;
    margin: 0px;
    margin-right: 2.76668vw;
}
.catalog_photo img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.cart_description{
    display: flex;
    flex-direction: column;
    width: 19.96847vw;
}
.cart_description h2{
    font-size: 1.62901vw;
    font-family: "MontSemiBold";
    margin: 0.15765vw -0.60510vw 0.21019vw  0.15765vw;
}
.description {
    font-size: 1.26117vw;
    font-family: "MontReg";
    margin:0px 0px 1.05097vw 0.21019vw;
    text-align: justify;
    width: 33.42091vw;
    line-height: 137%;
}
.description_2 {
    font-size: 1.26117vw;
    font-family: "MontReg";
    margin:0px 0px 1.15607vw 0.21019vw;
    text-align: justify;
    width: 33.42091vw;
    line-height: 137%;
}
.price{
    font-size: 1.26117vw;
    font-family: "MontBold";
    color:#026A27;
    margin:0px 0px 0.91960vw 0.10510vw;
}
.qty{
    margin-right: 1.57331vw;
    display: flex;
    align-items: center;
}
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-family: "MontBold";
    font-size: 1.73410vw;
    line-height: 1.57646vw;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 3.01997vw;
    height: 2.54598vw;
    border: none;
  }
.count:focus{
    border:1px solid #61B75A;
  }

.qty .plus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 2.19811vw;
    height: 2.54598vw;
    font-size: 2.31214vw;
    margin: 0px;
    text-align: center;
    border-radius: 0px 0.36784vw 0.36784vw 0px;
    font-family: "MontBold";
    color: #164400;
    border: none;
    line-height: 2.57488vw;
}
.qty .minus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    width: 2.19811vw;
    height: 2.54598vw;
    font-size: 2.31214vw;
    line-height: 2.36469vw;
    border-radius: 0.36784vw 0px 0px 0.36784vw;
    text-align: center;
    font-family: "MontBold";
    color: #164400;
}
.description_basket{
    border: none;
    background-color: #A6F682;
    border-radius: 0.36784vw;
    cursor: pointer;
    width: 9.461vw; 
    height: 2.546vw;
    font-size: 1.312vw; 
    padding-bottom: 0.263vw; 
    font-family: "MontSemiBold";
}
.tabcontent a:active{
    color: #000;
    text-decoration: none;
}
.tabcontent a:link{
    color: #000;
    text-decoration: none;
}
.tabcontent a:hover{
    color: #000;
    text-decoration: none;
}
.tabcontent a:visited{
    color: #000;
    text-decoration: none;
}
.cart_buttons{
    display: flex;
    flex-direction: row;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "MontMedium";
    font-size: 1.83920vw;
    padding: 0px;
    margin-bottom: 4.78192vw;
}
.pagination_left_row img {
    height: 1.78665vw;
    object-fit: cover;
    margin: 0.3vw 0.869vw 0px -0.525vw; 
}
.pagination_right_row img{
    height: 1.78665vw;
    object-fit: cover;
    margin: 0.3vw -0.525vw 0px 0.869vw; 
}
.pagination :nth-child(2) {
    margin-right: 2.41724vw;
    margin-top: 0.15767vw;
}
.pagination :nth-child(3) {
    margin-top: 0.15767vw;
    margin-right: 0.68402vw;
}
.pagination_active{
    font-size: 2.10115vw;
    color: #07491E;
    text-align: center;
    width: 2.70161vw;
    height: 2.70161vw;
    margin-right: 0.70528vw;
    background-color: #DAF6BF;
    border-radius: 50%;
}
.pagination :nth-child(5) {
    margin-top: 0.15767vw;
    margin-right: 1.43199vw;
}

.pagination :nth-child(6) {
    margin-top: 0.15767vw;
    margin-right: 1.49764vw;
}

.pagination :nth-child(7) {
    margin-top: 0.15767vw;
    margin-right: 1.42691vw;
}

.pagination :nth-child(8) {
    margin-top: 0.15767vw;
    margin-right: 0.94042vw;
}

.pagination :nth-child(9) {
    margin-top: 0.15767vw;
    margin-right: 0.94042vw;
}

.pagination :nth-child(10) {
    margin-top: 0.15767vw;
    margin-right: 2.42769vw;
}

.pagination :nth-child(11) {
    margin-right: 0.61442vw;
    margin-top: 0.15767vw;
}
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 19.548vw;
    padding-right: 19.653vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 177%; 
    padding-left: 0px;
    width: 20.967vw;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap:9.15px;
    align-items: center;
    margin-left: 19.44px;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_icon_society{
    margin-right: 16.42px;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;    
    line-height: 168.8%; 
    margin-top: 7.368vw; 
    padding-left: 0px;
    /* margin-top: 133.21px;  */
    width: 419px;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}