@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size: 1.14219vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.63177vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.39792vw 0vw 2.768750vw 19.47917vw;
}
.burger{
    display: none;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.544792vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    display: inline-block;
    margin-left: 2.8px;
    margin-right: 0.5999999999999996px;
    display: inline-block;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.catalog_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.967188vw 0vw 1.635937vw 19.474792vw;
}
.catalog_title{
    font-size: 3.437500vw;
    font-family: "MontBold";
    margin-right: 15.534375vw;
}
.catalog_search{
    width: 30.74948vw;
    height: 2.52760vw;
    border: 1px solid rgba(38, 86, 26, 0.83);
    border-radius: 24.27px;
    padding-left: 1.31739vw;
    padding-top: 0.32107vw;
    background-image: url(../icons/main_icons/catalog_seach_magnifier.png);
    background-repeat: no-repeat;
    background-size: 1.524vw;
    background-position: top 0.387vw right 0.998vw;
}
.catalog_search::placeholder{
    opacity: 0.39;
    font-size: 1.104vw;
    font-family: "MontReg";
}
.tab {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 19.4827083vw;
    border: 0px;
    width: 61.2297vw;
}
.tablinks{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tab button {
    background-color: inherit;
    border-radius: 0.70993vw 0.70993vw 0px 0px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border:0px;
    width: 15.269271vw;
    height: 5.2276vw;
    font-size: 1.302083vw;
    font-family: "MontSemiBold";
}
.tab button:hover {
    background-color: rgba(150, 228, 72, 0.15);
}
.tab button.active {
    background-color: rgba(150, 228, 72, 0.35);
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tablink_title_1{
    padding-top: 1.120833vw;
}
.tablink_title_2{
    padding-top: 1.0942188vw;
}
.tablink_title_3{
    padding-top: 1.120833vw;
}
.tablink_title_4{
    padding-top: 1.695617vw;
}
.tablink_title_5,
.tablink_title_6{
    padding-top: 2.15313vw;
}
.tablink_title_7{
    padding-top: 2.15862vw;
}
.tablink_title_8{
    padding-top: 2.155vw;
}
.tablink_title_9,
.tablink_title_10,
.tablink_title_11,
.tablink_title_12{
    padding-top: 2.2994vw;
}
.tablink_title_13{
    padding-top: 2.3156vw;
}
.tablink_title_14{
    padding-top: 2.23857vw;
}
.active{
    background-color:#DDD;
    height: 0.2635vw;
    width: 15.3344vw;
    margin: 0px;
}
.tablinks.active span {
    background-color: #76CB33;
}
.tabcontent {
    margin-top: 2.89151vw;
    display: flex;
    flex-direction: column;
    margin-left: 19.4827083vw;
    margin-bottom: 1.8641vw;
    animation: fadeEffect 1s; 
}
.tabcontent_sort{
    font-size: 1.4063vw;
    font-family: "MontMedium";
    margin-right: 2.206vw;
    margin-left: 0.156vw;
    margin-top: 0.052vw;
}
.naim{
    color: #61B75A;
    font-size: 1.4063vw;
    font-family: "MontMedium";
    margin-right: 0.276vw;
}
.flex_naim{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #61B75A;
    text-decoration: underline 0.0821vw solid;
    text-underline-offset: 0.0963vw;
    margin-right: 2.104vw;
}
.flex_naim_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex_sort{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.134vw;
}
.catalog_cart{
    display: flex;
    flex-direction: row;
    gap:0px;
    background: rgba(121, 242, 0, 0.27);
    border-radius: 1.31372vw;
    width: 61.0417vw;
    height: 17.1875vw;  
    padding: 1.957vw 5.444vw 1.877vw 1.862vw;
    margin-left: 0.156vw;
    margin-bottom: 2.6219vw;
}
.catalog_cart:last-child{
    margin-bottom: 0px;
}
.catalog_photo{
    width: 17.708vw;
    height: 13.281vw;
    margin: 0px;
    margin-right: 2.748vw;
}
.catalog_photo img{
    width: 100%;
    height: 100%;
    border-radius: 0.313vw;
}
.cart_description{
    display: flex;
    flex-direction: column;
}
.cart_description h2{
    font-size: 1.615vw;
    font-family: "MontSemiBold";
    margin-bottom: 0.206vw;
}
.description{
    font-size: 1.250vw;
    font-family: "MontReg";
    margin-bottom: 1.0395vw;
    text-align: justify;
    width: 33.125vw;
    margin-left: 0.1vw;
    line-height: 137%;
}
.price{
    font-size: 1.250vw;
    font-family: "MontBold";
    color:#026A27;
    margin-bottom: 0.84vw;
}
.qty{
    margin-right: 1.5331vw;
    display: flex;
    align-items: center;
}
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-family: "MontBold";
    font-size: 1.7188vw;
    height: 2.523vw;
    line-height: 1.57646vw;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 3.01997vw;
    border: none;
  }
.count:focus{
    border:1px solid #61B75A;
  }
.qty .plus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 2.523vw;
    width: 2.19811vw;
    font-size: 2.1875vw;
    margin: 0px;
    text-align: center;
    border-radius: 0px 0.3646vw 0.3646vw 0px;
    font-family: "MontBold";
    color: #164400;
    border: none;
    line-height: 2.57488vw;
}
.qty .minus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    height: 2.523vw;
    width: 2.19811vw;
    font-size: 2.1875vw;
    line-height: 2.36469vw;
    border-radius: 0.3646vw 0px 0px 0.3646vw;
    text-align: center;
    font-family: "MontBold";
    color: #164400;
}
.description_basket{
    border: none;
    background-color: #A6F682;
    border-radius: 0.3646vw;
    cursor: pointer;
    width: 9.461vw; 
    height: 2.546vw;
    font-size: 1.3021vw; 
    padding-left: 0vw;
    font-family: "MontSemiBold";
}
.tabcontent a:active{
    color: #000;
    text-decoration: none;
}
.tabcontent a:link{
    color: #000;
    text-decoration: none;
}
.tabcontent a:hover{
    color: #000;
    text-decoration: none;
}
.tabcontent a:visited{
    color: #000;
    text-decoration: none;
}
.cart_buttons{
    display: flex;
    flex-direction: row;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "MontMedium";
    font-size: 1.8229vw;
    padding: 0px;
    margin-bottom: 4.6396vw;
    margin-left: 0.104vw;
}
.pagination_left_row img {
    height: 1.7708vw;
    object-fit: cover;
    margin: 0.3vw 0.869vw 0px -0.525vw; 
}
.pagination_right_row img{
    height: 1.7708vw;
    object-fit: cover;
    margin: 0.4vw 0vw 0px 0vw; 
}
.pagination :nth-child(2) {
    margin-right: 2.41724vw;
    margin-top: 0.15767vw;
}
.pagination :nth-child(3) {
    margin-top: 0.15767vw;
    margin-right: 0.68402vw;
}
.pagination_active{
    font-size: 2.10115vw;
    color: #07491E;
    text-align: center;
    width: 2.70161vw;
    height: 2.70161vw;
    margin-right: 0.70528vw;
    background-color: #DAF6BF;
    border-radius: 50%;
}
.pagination :nth-child(5) {
    margin-top: 0.15767vw;
    margin-right: 1.43199vw;
}
.pagination :nth-child(6) {
    margin-top: 0.15767vw;
    margin-right: 1.40764vw;
}
.pagination :nth-child(7) {
    margin-top: 0.15767vw;
    margin-right: 1.42691vw;
}
.pagination :nth-child(8) {
    margin-top: 0.15767vw;
    margin-right: 0.94042vw;
}
.pagination :nth-child(9) {
    margin-top: 0.15767vw;
    margin-right: 0.94042vw;
}
.pagination :nth-child(10) {
    margin-top: 0.15767vw;
    margin-right: 2.42769vw;
}
.pagination :nth-child(11) {
    margin-right: 0.61442vw;
    margin-top: 0.15767vw;
}
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-top: 7.315vw; 
    padding-left: 19.3648vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    width: 20.967vw;
    padding-left: 0px;
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 4.9811vw;
    margin-right: 2.9945vw;
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}