@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size:1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.646vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.314vw 0vw 1.366vw 19.653vw;
}
.burger{
    display: none;
}
.nav_ul_menu :nth-child(3){
    flex-shrink: 0;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.375000vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
 .breadcrumbs-item {
    display: inline;
    vertical-align: top;
 }
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
   margin-left: 4.6px;
   margin-right: 1.5999999999999996px;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.conditions_header{
    margin: 22.75px 0px 1.562500vw 19.375000vw;
}
.conditions_title{
    font-size: 2.60417vw;
    font-family: "MontBold";
}
.conditions_text{
    font-family: "GilroyRegular";
    font-size: 1.822917vw;
    line-height: normal;
    margin-left: 19.375000vw;
    width: 61.041667vw;
    text-align: justify;
    margin-bottom: 3.385417vw;
}
.conditions_text :nth-child(2){
    margin-top: -0.104167vw;
    line-height: 115.4%;
}
.conditions_text :nth-child(3){
    margin-top: -2px;
}
.conditions_text :nth-child(4){
    margin-top: -1px;
}
.conditions_text :nth-child(5){
    margin-top: 0px;
}
.conditions_text :nth-child(6){
    margin-top: 0px;
}
.conditions_text :nth-child(7){
    margin-top: 0px;
    line-height: normal;
}
.conditions_text a:link{
    color: #61B75A;
    text-decoration: underline;
}
.conditions_text a:active{
    text-decoration: underline;
    color: #61B75A;
}
.conditions_text a:visited{
    text-decoration: underline;
    color: #61B75A;
}
.conditions_text a:hover{
    text-decoration: underline;
    color: #61B75A;
}
.selection{
    font-family: "GilroyBold";
    line-height: normal;
    color: #61B75A;
}
.button_return{
    display: inline-block;
    width: 20.049896vw;
    height: 4.937500vw;
    border-radius: 0.625000vw;
    background: #B2EE8E;
    padding-left: 1.118229vw;
    margin-left: 40.027083vw;
    font-family: "MontMedium";
    cursor: pointer;
    font-size: 1.614583vw;
    padding: 1.500000vw 1.639583vw;
    line-height: 1.979167vw;
    margin-bottom: 4.739583vw;
}
.button_return:link{
    color: #000;
    text-decoration: none;
}
.button_return:active{
    color: #000;
    text-decoration: none;
}
.button_return:visited{
    color: #000;
    text-decoration: none;
}
.button_return:hover{
    color: #000;
    text-decoration: none;
}
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 19.548vw;
    padding-right: 19.653vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 20.967vw;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
    margin-top: 7.315vw; 
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}