@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size: 1.14219vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.63177vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.39792vw 0vw 2.768750vw 19.47917vw;
}
.burger{
    display: none;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.544792vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    display: inline-block;
    margin-left: 2.8px;
    margin-right: 0.5999999999999996px;
    display: inline-block;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.step_header{
    margin: 1.1458vw 0px 1.61061vw 19.4792vw;
}
.step_title{
    font-size: 2.60417vw;
    font-family: "MontBold";
}
.step_indicator {
    display: flex;
    flex-direction: row;
    gap: 3.697917vw;
    justify-content: center;
    margin-bottom: 3.125000vw;
    margin-left: -2.041667vw;
}
.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.437500vw;
    height: 10.572vw;
    position: relative;
}
.step_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.437500vw;
    height: 10.572135vw;
    position: relative;
}
.step::after {
    content: "";
    position: absolute;
    width: 9.166667vw;
    height: 0.156250vw;
    background-image: url(../img/img_form/dashed.svg);
    background-size: cover;
    top: 4.738542vw;
    left: 10.573958vw;
}
.step_active::after {
    content: "";
    position: absolute;
    width: 9.166667vw;
    height: 0.156250vw;
    background-image: url(../img/img_form/dashed.svg);
    background-size: cover;
    top: 4.738542vw;
    left: 10.573958vw;
}
.step p{
    font-size: 1.448437vw;
    font-family: "GilroySemiBold";
    color: #A6A6A6;
}
.step_4 p{
    font-size: 1.448437vw;
    font-family: "GilroySemiBold";
    color: #A6A6A6;
}
.step_active{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.437500vw;
    height: 10.572135vw;
    position: relative;
}
.step_active p{
    font-size: 1.448437vw;
    font-family: "GilroySemiBold";
    color: #61B75A;
}
.progress_tomato{
    background-image: url(../img/img_form/progress_tomato.svg);
    background-size: cover;
    width: 6.041667vw;
    height: 7.291667vw;
    display: flex;
    padding-top: 3.282292vw;
    justify-content: center;
    font-size: 2.483333vw;
    font-family: "MontBold";
    color: #B5B5B5;
    margin-bottom: 1.561979vw;
}
.progress_tomato_active{
    background-image: url(../img/img_form/progress_tomato_active.svg);
    background-size: cover;
    width: 6.041667vw;
    height: 7.291667vw;
    display: flex;
    padding-top: 3.282292vw;
    justify-content: center;
    font-size: 2.483333vw;
    font-family: "MontBold";
    color: #000;
    margin-bottom: 1.561979vw;
} 
.big_form{
    margin-left: 19.479167vw;
}
.form_title{
    font-size: 2.60417vw;
    font-family: "MontBold";
    margin-bottom: 1.15313vw;
}
.form_required{
    font-size: 1.45833vw;
    font-family: "MontReg";
    color: #737373;
    margin-bottom: 1.10104vw;
    margin-left: 0.10417vw;
}
form{
    margin-left: 0.10417vw;
}
.label{
    font-size: 1.77083vw;
    font-family: "MontMedium";
}
.label_index{
    font-size: 1.77083vw;
    font-family: "MontMedium";
    margin-left: 0.15625vw;
}
.input{
    box-sizing: border-box;
    font-size: 1.51042vw;
    font-family: "MontMedium";
    width: 23.51354vw;
    height: 4.88802vw;
    border-radius: 0.62031vw;
    border: 0.32552vw solid #B6E1B2;
    margin-top: 0.46875vw;
    margin-bottom: 0.8542vw;
    margin-right: 1.64219vw;
    padding: 0px;
}
.input_place{
    width: 23.51302vw;
}
.input_place_1{
    width: 26.85000vw;
}
.input_street,
.input_email{
    width: 23.51354vw;
}
.form_name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 52.08333vw;
}
.form_place{
    display: flex;
    flex-direction: row;
    width: 62.94219vw;
}
.input_second{
    margin-right: 0px !important;
}
.input_house{
    width: 13.88594vw;
}
.input_apart{
    width: 13.88594vw;
}
.form_adress{
    display: flex;
    flex-direction: row;
    width: 57.33021vw;
    flex-wrap: wrap;
}
.input_index{
    width: 23.66979vw;
}
.input_postal{
    width: 26.79479vw;
}
form .button{
    width: 20.04990vw;
    height: 4.93693vw;
    background-color: #B2EE8E;
    border-radius: 0.62500vw;
    font-size: 1.61458vw;
    font-family: "MontMedium";
    border: none;
    margin-top: 2.45521vw;
    margin-left: 20.39167vw;
    cursor: pointer;
    margin-bottom: 1.19792vw;
    padding-left: 0.20833vw;
}
form p{
    font-size: 1.04167vw;
    font-family: "MontMedium";
    width: 37.99161vw;
    margin-bottom: 4.73958vw;
    margin-left: 11.41354vw;
    text-align: center;
}
form p a:link{
    color: #61B75A;
}
form p a:active{
    color: #61B75A;
}
form p a:hover{
    color: #61B75A;
}
form p a:visited{
    color: #61B75A;
}
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-top: 7.315vw; 
    padding-left: 19.3648vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    width: 20.967vw;
    padding-left: 0px;
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 4.9811vw;
    margin-right: 2.9945vw;
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
}
input:focus {
    outline: none;
    padding-left: 0.521vw;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    font-family: "MontReg" !important;
    font-size: 24px !important;
}
footer a:link,
footer a:hover,
footer a:active,
footer a:visited{
    font-family: "MontReg" !important;
    text-decoration: none;
    color: #000; 
    font-size: 24px !important;
}