@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
.burger{
    display: none;
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size:1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.646vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.314vw 0vw 1.366vw 19.653vw;
}
.burger{
    display: none;
}
.nav_ul_menu :nth-child(3){
    flex-shrink: 0;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 19.70573vw;
   margin-bottom: 18.59px;
   margin-right: -6px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
   margin-left: 1.5999999999999996px;
   margin-right: 0.5999999999999996px;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.gallery_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 22px 0px 26.52px 374px;
}
.gallery_title{
    font-size: 50px;
    font-family: "MontBold";
}
.gallery_photos{
    display: grid;
    grid-template: 27.90541vw  repeat(3, 22.72570vw) 22.83079vw/30.82396vw 6.44088vw 21.49238vw;
    column-gap: 1.41881vw;
    row-gap: 1.59432vw;
    margin-left: 19.70573vw;
    margin-bottom: 63px;
}
.photo_1{
    grid-column: 1/3;
    background-image: url(../img/img_gallery/Callery_Photo_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_2{
    background-image: url(../img/img_gallery/Callery_Photo_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_3{
    background-image: url(../img/img_gallery/Callery_Photo_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_4{
    grid-column: 2/4;
    background-image: url(../img/img_gallery/Callery_Photo_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_5{
    grid-column: 1/3;
    background-image: url(../img/img_gallery/Callery_Photo_5.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_6{
    background-image: url(../img/img_gallery/Callery_Photo_6.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_7{
    background-image: url(../img/img_gallery/Callery_Photo_7.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_8{
    grid-column: 2/4;
    background-image: url(../img/img_gallery/Callery_Photo_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_9{
    grid-column: 1/3;
    background-image: url(../img/img_gallery/Callery_Photo_9.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.photo_10{
    background-image: url(../img/img_gallery/Callery_Photo_10.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.button_return{
    display: inline-block;
    width: 20.22911vw;
    height: 6.03941vw;
    border-radius: 12px;
    background: #B2EE8E;
    margin-left: 40.385vw;
    font-family: "MontMedium";
    border: none;
    font-size: 1.62901vw;
    margin-bottom: 95px;
    cursor: pointer;
    padding: 1.02260vw 4.09774vw;
    line-height: 38px;
    text-align: center;
}
.button_return:link{
    color: #000;
    text-decoration: none;
}
.button_return:active{
    color: #000;
    text-decoration: none;
}
.button_return:visited{
    color: #000;
    text-decoration: none;
}
.button_return:hover{
    color: #000;
    text-decoration: none;
}
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 19.548vw;
    padding-right: 19.653vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 177%; 
    padding-left: 0px;
    width: 20.967vw;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap:9.15px;
    align-items: center;
    margin-left: 19.44px;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_icon_society{
    margin-right: 16.42px;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;    
    line-height: 168.8%; 
    margin-top: 7.368vw; 
    padding-left: 0px;
    /* margin-top: 133.21px;  */
    width: 419px;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}