@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size: 1.14219vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.63177vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.39792vw 0vw 1.25833vw 19.47917vw;
}
.burger{
    display: none;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.header{
    background-image: url(../img/img_main/Header_Background.png);
    border-radius: 0px 0px 47px 47px;
    height: 22.02vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.893642vw;
}
.header_descriptor_1{
    font-family: "GilroySemiBold";
    font-size: 76px;
    text-align: center;
    color: #fff;
    margin-top: 7.777vw;
    margin-bottom: 6.4977vw;
    line-height: 4.782vw;
}
.main_advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 19.47917vw 77px 19.479vw;
}
.main_advantages_id{
    box-shadow: 0px 3.28565px 25.46382px -1.64283px rgba(0, 0, 0, 0.25);
    width: 19.36927vw;
    height: 5.85833vw;
    border-radius: 33px;
    background: #fff;
    margin-right: 1.480vw;
}
.main_advantages_id:last-child{
    margin-right: -18px;
}
.main_advantages_description_1{
    font-size: 1.62552vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.93958vw;
    line-height:1.99685vw;
}
.main_advantages_description_2{
    font-size: 1.62552vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.957vw;
    line-height:1.99685vw;
}
.main_advantages_description_3{
    font-size: 1.62552vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.957vw;
    line-height:1.99685vw;
}
.about_title{
    font-size: 2.08333vw;
    font-family: "MontBold";
    margin-bottom: 0.99115vw;
    margin-left: 19.47917vw;
    line-height: 49px;
}
.about_description{
    font-size:1.51042vw;
    font-family: "GilroyRegular";
    width: 61.04167vw;
    text-align: justify;
    margin-left: 19.47917vw;
    margin-bottom: 70px;
    line-height: 148.1%;
}
.catalog_header{
    display: grid;
    grid-auto-flow: column;
    margin: 0px 19.47917vw 39.65px 19.47917vw;
}
.catalog_title{
    font-size: 2.08333vw;
    font-family: "MontBold";
    margin-right: 21.34948vw;
}
.catalog_search{
    width: 30.74948vw;
    height: 2.52760vw;
    border: 1px solid rgba(38, 86, 26, 0.83);
    border-radius: 24.27px;
    padding-left: 1.31739vw;
    padding-top: 0.32107vw;
    background-image: url(../icons/main_icons/catalog_seach_magnifier.png);
    background-repeat: no-repeat;
    background-size: 1.524vw;
    background-position: top 0.387vw right 0.998vw;
}
.catalog_search::placeholder{
    opacity: 0.39;
    font-size: 1.104vw;
    font-family: "MontReg";
}
.catalog_items{
    display: grid;
    grid-template: repeat(5, 21.92708vw) /repeat(3, 19.09792vw);
    margin: 0px 0px 3.34813vw 19.47917vw;
    grid-column-gap: 1.87500vw;
    grid-row-gap: 2.34375vw;
}
.catalog_item{
    border-radius: 2.08333vw;
    background: rgba(150, 228, 72, 0.35);
    font-size: 1.61458vw;
    font-family: "MontSemiBold";
    text-align: center;
}
.catalog_item_13{
    width: 19.26800vw;
    margin-left: 10.413542vw;
}
.catalog_item_14{
    width: 19.26800vw;
    margin-left: 10.4222vw;
}
.catalog_item p{
    line-height: 1.979167vw;
}
.catalog_photo{
    height: 13.80417vw;
}
.catalog_photo img{
    width: 100%;
    height: 100%;
}
.catalog_item_1_title {
    width: 18.122vw;
    margin-top: 2.11vw;
    margin-left: 0.517vw;
    text-align: center;
}
.catalog_item_2_title {
    width: 15.374vw;
    margin-top: 2.16vw;
    margin-left: 1.833vw;
}
.catalog_item_3_title {
    width: 13.625vw;
    margin-top: 0.962vw;
    margin-left: 2.789vw;
}
.catalog_item_4_title {
    width: 6.467vw;
    margin-top: 2.07vw;
    margin-left: 6.32vw;
}
.catalog_item_5_title {
    width: 7.708333vw;
    margin-top: 2.919792vw;
    margin-left: 5.684792vw;
}
.catalog_item_6_title {
    width: 6.718750vw;
    margin-top: 2.919792vw;
    margin-left: 6.215625vw;
}
.catalog_item_7_title {
    width: 10vw;
    margin-top: 2.929167vw;
    margin-left: 4.51122917vw;
}
.catalog_item_8_title {
    width: 7.291667vw;
    margin-top: 2.950vw;
    margin-left: 5.87vw;
}
.catalog_item_9_title {
    width: 8.73vw;
    margin-top: 1.969167vw;
    margin-left: 4.9147917vw;
}
.catalog_item_10_title {
    width: 5.635417vw;
    margin-top: 2.93750vw;
    margin-left: 6.722917vw;
}
.catalog_item_11_title {
    width: 6.250000vw;
    margin-top: 2.929750vw;
    margin-left: 6.397917vw;
}
.catalog_item_12_title {
    width: 5.677083vw;
    margin-top: 2.95vw;
    margin-left: 6.75vw;
}
.catalog_item_13_title {
    width: 6.875000vw;
    margin-top: 2.94vw;
    margin-left: 6.1504vw;
}
.catalog_item_14_title {
    width: 6.354167vw;
    margin-top: 1.942708vw;
    margin-left: 6.3819792vw;
}
.button_catalog {
    display: inline-block;
    width: 20.05vw;
    line-height: 1.99685vw;
    height: 6.03925vw;
    background-color: #B2EE8E;
    border-radius: 0.62500vw;
    border: 0px solid #B2EE8E;
    margin-left: 39.975000vw;
    margin-bottom: 3.337500vw;
    cursor: pointer;
    font-family: "MontMedium";
    font-size: 1.62901vw;
    text-align: center;
    padding: 1.12500vw 5.337500vw 0vw 4.9037500vw;
}
.button_catalog:link,
.button_catalog:active,
.button_catalog:visited,
.button_catalog:hover,
.catalog_items a:link,
.catalog_items a:visited,
.catalog_items a:hover,
.catalog_items a:active{
    color: #000;
    text-decoration: none;
}
input:focus {
    outline: none;
    padding-left: 0.521vw;
}
.gallery{
    margin-bottom: 4.6639583vw;
}
.gallery_title{
    font-size: 2.083333vw;
    font-family: "MontBold";
    margin-bottom: 2.708333vw;
    margin-left: 19.47917vw;
}
.gallery_items{
    display: grid;
    width: 93.472vw;
    grid-template: repeat(2, 22.231250vw) /repeat(3, 29.641667vw);
    margin: 0px 3.101vw 3.45896vw 3.101vw;
    row-gap: 2.377083vw;
    column-gap: 2.344271vw;
}
.gallery_photo_1{
    background-image: url(../img/img_main/main_gallery/kot.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_2{
    background-image: url(../img/img_main/main_gallery/Пурпурное_сердце.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_3{
    background-image: url(../img/img_main/main_gallery/сарандипити.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_4{
    background-image: url(../img/img_main/main_gallery/Смайлик.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_5{
    background-image: url(../img/img_main/main_gallery/флэйм.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_6{
    background-image: url(../img/img_main/main_gallery/Тещин_язык.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.button_gallery{
    display: inline-block;
    width: 20.050000vw;
    height: 6.03925vw;
    background-color:#B2EE8E;
    cursor: pointer;
    border-radius: 0.62500vw;
    border: 0px solid #B2EE8E;
    margin-left: 39.975000vw;
    line-height: 1.99685vw;
    font-family: "MontMedium";
    font-size: 1.62901vw;
    text-align: center;
    line-height:1.99685vw;
    padding: 1.23vw 5.26vw 0.92vw 4.81992vw;

}
.button_gallery:link{
    color: #000;
    text-decoration: none;
}
.button_gallery:visited{
    color: #000;
    text-decoration: none;
}
.button_gallery:hover{
    color: #000;
    text-decoration: none;
}
.button_gallery:active{
    color: #000;
    text-decoration: none;
} 
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-top: 7.315vw; 
    padding-left: 19.3648vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    width: 20.967vw;
    padding-left: 0px;
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 4.9811vw;
    margin-right: 2.9945vw;
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    font-family: "MontReg" !important;
    font-size: 24px !important;
}
footer a:link,
footer a:hover,
footer a:active,
footer a:visited{
    font-family: "MontReg" !important;
    text-decoration: none;
    color: #000; 
    font-size: 24px !important;
}