@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size:1.152vw;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 1.646vw;
    max-width: 100.000vw;
    padding-inline-start: 0px;
    margin: 1.314vw 0vw 1.366vw 19.653vw;
}
.burger{
    display: none;
}
.nav_ul_menu :nth-child(3){
    flex-shrink: 0;
}
.basket{
    display: flex;
    align-items: center;
    margin-left:1.646vw;
}
nav p{
    font-family: "MontMedium";
    font-size: 0.946vw;
    width: 9.091vw;
    margin-left: 0.703vw;
    color: #07491E;
    line-height: 22px;
}
.header{
    background-image: url(../img/img_main/Header_Background.png);
    border-radius: 0px 0px 47px 47px;
    height: 22.182vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.93642vw;
}
.header_descriptor_1{
    font-family: "GilroySemiBold";
    font-size: 76px;
    text-align: center;
    color: #fff;
    margin-top: 7.777vw;
    margin-bottom: 6.667vw;
    line-height: 4.782vw;
}
.main_advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 19.653vw 77px 19.653vw;
}
.main_advantages_id{
    box-shadow: 0px 3.28565px 25.46382px -1.64283px rgba(0, 0, 0, 0.25);
    width: 19.542vw;
    height: 5.911vw;
    border-radius: 33px;
    background: #fff;
    margin-right: 1.480vw;
}
.main_advantages_id:last-child{
    margin-right: -18px;
}
.main_advantages_description_1{
    font-size: 1.640vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.957vw;
    line-height:1.99685vw;
}
.main_advantages_description_2{
    font-size: 1.640vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.957vw;
    line-height:1.99685vw;
}
.main_advantages_description_3{
    font-size: 1.640vw;
    font-family: "MontBold";
    text-align: center;
    margin-top: 1.957vw;
    line-height:1.99685vw;
}
.about_title{
    font-size: 40px;
    font-family: "MontBold";
    margin-bottom: 19.03px;
    margin-left: 19.653vw;
    line-height: 49px;
}
.about_description{
    font-size: 29px;
    font-family: "GilroyRegular";
    width: 61.37677vw;
    text-align: justify;
    margin-left: 19.653vw;
    margin-right: 357px;
    margin-bottom: 70px;
    line-height: 148.1%;
}
.catalog_header{
    display: grid;
    grid-auto-flow: column;
    margin: 0px 19.653vw 39.65px 19.653vw;
}
.catalog_title{
    font-size: 40px;
    font-family: "MontBold";
    margin-right: 21.524vw;
}
.catalog_search{
    width: 31.024vw;
    height: 2.498vw;
    border: 1px solid rgba(38, 86, 26, 0.83);
    border-radius: 24.267px;
    padding-left: 1.31739vw;
    padding-top: 0.32107vw;
    background-image: url(../icons/main_icons/catalog_seach_magnifier.png);
    background-repeat: no-repeat;
    background-size: 1.524vw;
    background-position: top 0.387vw right 0.998vw;
}
.catalog_search::placeholder{
    opacity: 0.39;
    font-size: 1.104vw;
    font-family: "MontReg";
}
.catalog_items{
    display: grid;
    grid-template: repeat(5, 22.070vw) /repeat(3, 19.269vw);
    margin: 0px 0px 3.51813vw 19.653vw;
    grid-column-gap: 1.93904vw;
    grid-row-gap: 2.38203vw;
}
.catalog_item{
    border-radius: 2.08333vw;
    background: rgba(150, 228, 72, 0.35);
    font-size: 1.62901vw;
    font-family: "MontSemiBold";
    text-align: center;
}
.catalog_item_13{
    width: 19.26800vw;
    height: 22.10946vw;
    border-radius: 2.08333vw;
    background: rgba(150, 228, 72, 0.35);
    font-size: 1.62901vw;
    font-family: "MontSemiBold";
    text-align: center;
    margin-left: 11.62270vw;
}
.catalog_item_14{
    width: 19.26800vw;
    height: 22.10946vw;
    border-radius: 2.08333vw;
    background: rgba(150, 228, 72, 0.35);
    font-size: 1.62901vw;
    line-height: normal;
    font-family: "MontSemiBold";
    text-align: center;
    margin-left: 11.59695vw;
}
.catalog_photo{
    height: 13.971vw;
}
.catalog_photo img{
    width: 100%;
    height: 100%;
}
.catalog_item_1_title {
    width: 18.122vw;
    margin-top: 2.11vw;
    margin-left: 0.617vw;
    line-height: 1.99685vw;
    text-align: center;
}
.catalog_item_2_title {
    width: 15.374vw;
    margin-top: 2.06vw;
    line-height: 1.99685vw;
    margin-left: 1.87vw;
}
.catalog_item_3_title {
    width: 13.925vw;
    line-height: 1.99685vw;
    margin-top: 0.862vw;
    margin-left: 2.59vw;
}
.catalog_item_4_title {
    width: 6.467vw;
    line-height:1.99685vw;
    margin-top: 2.07vw;
    margin-left: 6.42vw;
}
.catalog_item_5_title {
    width: 7.777vw;
    margin-top: 2.89vw;
    line-height:1.99685vw;
    margin-left: 5.69vw;
}
.catalog_item_6_title {
    width: 6.779vw;
    margin-top: 3.04vw;
    line-height:1.99685vw;
    margin-left: 6.23vw;
}
.catalog_item_7_title {
    width: 10.07vw;
    line-height:1.99685vw;
    margin-top: 3.04vw;
    margin-left: 4.54vw;
}
.catalog_item_8_title {
    width: 7.31vw;
    line-height:1.99685vw;
    margin-top: 3.00vw;
    margin-left: 5.87vw;
}
.catalog_item_9_title {
    width: 8.73vw;
    line-height:1.99685vw;
    margin-top: 2.01vw;
    margin-left: 5.16vw;
}
.catalog_item_10_title {
    width: 4.54vw;
    margin-top: 3.06vw;
    line-height:1.99685vw;
    margin-left: 6.75vw;
}
.catalog_item_11_title {
    width: 5.18vw;
    margin-top: 3.06vw;
    line-height:1.99685vw;
    margin-left: 6.37vw;
}
.catalog_item_12_title {
    width: 4.66vw;
    margin-top: 3.01vw;
    line-height:1.99685vw;
    margin-left: 6.67vw;
}
.catalog_item_13_title {
    width: 5.94vw;
    line-height:1.99685vw;
    margin-top: 3.02vw;
    margin-left: 6.14vw;
}
.catalog_item_14_title {
    width: 5.54vw;
    margin-top: 1.88vw;
    line-height:1.99685vw;
    margin-left: 6.27vw;
}
.button_catalog {
    display: inline-block;
    width: 20.22901vw;
    line-height:1.99685vw;
    height: 6.03925vw;
    background-color: #B2EE8E;
    border-radius: 0.62500vw;
    border: 0px solid #B2EE8E;
    margin-left: 40.385vw;
    margin-bottom: 66px;
    cursor: pointer;
    font-family: "MontMedium";
    font-size: 1.62901vw;
    text-align: center;
    padding: 1.23vw 5.74vw 0.92vw 5.38vw;
}
.button_catalog:link{
    color: #000;
    text-decoration: none;
}
.button_catalog:visited{
    color: #000;
    text-decoration: none;
}
.button_catalog:hover{
    color: #000;
    text-decoration: none;
}
.button_catalog:active{
    color: #000;
    text-decoration: none;
}  
.gallery{
    margin-bottom: 95.03px;
}
.gallery_title{
    font-size: 40px;
    font-family: "MontBold";
    margin-bottom: 52px;
    margin-left: 19.653vw;
}
.gallery_items{
    display: grid;
    width: 93.472vw;
    grid-template: repeat(2, 22.726vw) /repeat(3, 30.301vw);
    margin: 0px 3.101vw 3.171vw 3.101vw;
    row-gap: 1.94640vw;
    column-gap: 1.84130vw;
}
.gallery_photo_1{
    background-image: url(../img/img_main/main_gallery/kot.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_2{
    background-image: url(../img/img_main/main_gallery/Пурпурное_сердце.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_3{
    background-image: url(../img/img_main/main_gallery/сарандипити.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_4{
    background-image: url(../img/img_main/main_gallery/Смайлик.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_5{
    background-image: url(../img/img_main/main_gallery/флэйм.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.gallery_photo_6{
    background-image: url(../img/img_main/main_gallery/Тещин_язык.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.78125vw;
}
.button_gallery{
    display: inline-block;
    width: 20.22901vw;
    height: 6.03925vw;
    background-color:#B2EE8E;
    cursor: pointer;
    border-radius: 0.62500vw;
    border: 0px solid #B2EE8E;
    margin-left: 40.385vw;
    line-height: 1.99685vw;
    font-family: "MontMedium";
    font-size: 1.62901vw;
    text-align: center;
    line-height:1.99685vw;
    padding: 1.23vw 5.26vw 0.92vw 4.72vw;

}
.button_gallery:link{
    color: #000;
    text-decoration: none;
}
.button_gallery:visited{
    color: #000;
    text-decoration: none;
}
.button_gallery:hover{
    color: #000;
    text-decoration: none;
}
.button_gallery:active{
    color: #000;
    text-decoration: none;
} 
footer{
    background-color: #9DD58F;
    border-radius: 6.726vw 6.726vw 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 19.548vw;
    padding-right: 19.653vw;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 20.967vw;
    margin-top: 7.315vw; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap: 9.15px;
    align-items: center;
    margin-left: 1.013vw;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.footer_icon_society{
    margin-right: 0.855vw;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 5.211vw;
    margin-right: 3.145vw;
    margin-top: 7.315vw; 
    padding-left: 0px;
    padding-right: 0px;
    width: 13.190vw;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 36.458vw;
    margin-top: 7.315vw; 
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}