@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}
.nav_ul_menu{
    font-size: 21.93px;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 31.33px;
    padding-inline-start: 0px;
    letter-spacing: 0%;
    margin: 25px 0px 55px 374px;
    line-height: 27px;
}
.nav_ul_menu :nth-child(3){
    width: 277px;
}
.basket{
    display: flex;
    align-items: center;
    margin-left: calc(185.34px - 31.21px);
}
nav p{
    font-family: "MontMedium";
    font-size: 18px;
    width: 173.01px;
    margin-left: 13.38px;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
   padding: 0px;
   list-style: none;
   display: inline;
   font-size: 25px;
   font-family: "MontSemiBold";
   color: #61B75A;
   margin-left: 374px;
   margin-bottom: 18.59px;
}
.breadcrumbs-item {
   display: inline;
   vertical-align: top;
}
.breadcrumbs-item:not(:last-child):after {
   content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
   margin-left: 2.5999999999999996px;
   margin-right: 3.5999999999999996px;
}
.breadcrumbs-link {
  color: #61B75A;
  text-decoration: none;
  transition: 1s;
}
.burger{
    display: none;
}
.breadcrumbs-link:not(span):hover {
  color: #4e9347;
}
.breadcrumbs-link.current {
  color: #4e9347;
  text-decoration: none;
  transition: 0.5s;
}
.product_header{
    margin: 25.38px 0px 40.46px 374px;
}
.product_title{
    font-size: 54px;
    font-family: "MontBold";
}
.product{
    display: flex;
    flex-direction: row;
    margin-left: 374px;
    margin-bottom: 65px;
}
.product_description{
    width: 702.617px;
}
.product_photo{
    width: 632.291px;
    height: 474.22px;
    margin: -2px 0px 2px -2px;
}
.product_photo img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.cart_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 42.1px;
}
.product_description{
    font-size: 35px;
    line-height: 41px;
    font-family: "GilroyRegular";
    margin-bottom: 33.59px;
    text-align: left;
    margin-top: -5px;
    width: 702.62px;
}
.price{
    font-size: 35px;
    font-family: "MontBold";
    color:#026A27;
    margin-bottom: 44.14px;
    margin-left: 0px;
}

.qty{
    margin-right: 39.94px;
    margin-left: 3.0999999999999996px;
    display: flex;
    align-items: center;
}
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-family: "MontSemibold";
    font-size: 49.5px;
    font-weight: 700;
    line-height: 30px;
    padding: 0px;
    padding: 0px 0px 0px 5px;
    min-width: 35px;
    text-align: center;
    width: 85.42px;
    height: 71px;
    border: 1px solid #A4C29F;
  }
.qty .plus {
    background-color: rgba(103,153,95,0.6);
    cursor: pointer;
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 62.21px;
    height: 71px;
    font-size: 49.5px;
    margin: 0px;
    text-align: center;
    border-radius: 0px 10.404px 10.404px 0px;
    font-family: "MontBold";
    color: #164400;
    border: none;
}
.qty .minus {
    background-color: rgba(103,153,95,0.6);
    padding-top: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    width: 62.21px;
    height: 71px;
    font-size: 49.5px;
    border-radius: 10.404px 0px 0px 10.404px;
    text-align: center;
    font-family: "MontBold";
    color: #164400;
}
.description_basket{
    border: none;
    width: 267.262px;
    height: 72px;
    background-color: #A6F682;
    border-radius: 10.374px;
    font-size: 37px;
    padding: 0px 9px 8px 0px;
    font-family: "MontSemiBold";
}
.cart_buttons{
    display: flex;
    flex-direction: row;
}
.button_return{
    display: inline-block;
    width: 384.96px;
    height: 114.93px;
    border-radius: 12px;
    background: #B2EE8E;
    padding: 19.46px 92.48px;
    margin-left: 761.52px;
    font-family: "MontMedium";
    line-height: 38px;
    font-size: 31px;
    text-align: center;
    margin-bottom: 91px;
    cursor: pointer;
}
.button_return:link{
    color: #000;
    text-decoration: none;
}
.button_return:visited{
    color: #000;
    text-decoration: none;
}
.button_return:hover{
    color: #000;
    text-decoration: none;
}
.button_return:active{
    color: #000;
    text-decoration: none;
} 
footer{
    background-color: #9DD58F;
    border-radius: 128px 108px 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 372px;
    padding-right: 374px;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 399px;
    margin-top: 139.21px; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap:9.15px;
    align-items: center;
    margin-left: 19.44px;
}

.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_icon_society{
    margin-right: 16.42px;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 99.16px;
    margin-right: 59.84px;
    margin-top: 139.21px; 
    padding-left: 0px;
    padding-right: 0px;
    width: 251px;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
}
.society{
    list-style-type: none;    
    line-height: 168.8%; 
    margin-top: 140.21px; 
    padding-left: 0px;
    /* margin-top: 133.21px;  */
    width: 419px;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
    margin-top: 4px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}

