@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 3.1579vw;
        height: 4.7368vw;
        margin-bottom: 1.7vw;
        margin-left: 18.653vw;
        margin-top: 2.632vw;
        align-self: flex-start;
    }
    .breadcrumbs{
        margin-left: 18.653vw;
        font-size: 1.71053vw;
    }   
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_760.svg);
    }
    .product_header{
        margin-left: 18.653vw;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 2.632vw;
    }
    .cart_description{
        margin-left: 0px;
    }
    .product_title{
        font-size: 3.63158vw;
    }
    .product{
        flex-direction: column;
        margin-left: 18.653vw;
        margin-bottom: 3.947vw;
    }
    .product_photo{
        width: 64.211vw;
        height: 48.158vw;
        margin-bottom: 3.947vw;
    }
    .product_description{
        font-size: 2.805vw;
        width: 64.605vw;
        line-height: 148.1%;
        margin-bottom: 1.447vw;
    }
    .price{
        font-size: 2.895vw;
        margin-bottom: 1.974vw;
    }
    .qty{
        margin-right: 1.974vw;
    }
    .qty .count {
        width: 6.31789vw;
        height: 6.42105vw;
        font-size: 3.44737vw;
    }
    .qty .plus,
    .qty .minus {
        width: 5.55316vw;
        height: 6.42105vw;
        line-height: 3.63158vw;
        font-size: 4.26316vw;
    }
    .qty .plus{
        line-height: 4.93158vw;
    }
    .description_basket {
        height: 6.42105vw;
        font-size: 1.92632vw;
        width: 17.29032vw;
        padding: 0;
    }
    .button_return{
        width: 24.21053vw; 
        height: 8.02632vw;
        font-size: 1.97368vw; 
        line-height: normal; 
        margin-left: 38.048680000000004vw;
        padding: 1.48421vw 5.13158vw;
        border-radius: 2.10526vw;
    }
    footer{
        height: 64.474vw;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts :first-child,
    .navigation :first-child,
    .society :first-child{
        font-size: 2.36842vw;
    }
    .footer_icons_contacts{
        gap: 0.972vw; 
        margin-left: 10px;
    }
    .contacts,
    .navigation,
    .society{
        line-height: 177%; 
        font-size: 1.97368vw;
    }
    .society img,
    .contacts img{
        width: 2.63158vw;
        height: 2.63158vw;
    } 
    .society_align p{
        font-size: 1.97368vw !important;
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 1.97368vw !important;
    }
}
