@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .breadcrumbs{
        display: none;
    }
    .product_header{
        margin-top: 0px;
        margin-left: 69px;
    }
    .product_title{
        font-size: 28px;
        line-height: normal;
        margin-right: 36px;
    }   
    .product{
        margin-left: 69px;
        margin-bottom: 30px;
    }
    .product_photo{
        width: 342px;
        height: 250.81px;
        margin-bottom: 20px;
    }
    .product_description{
        font-size: 19px;
        width: 352px;
        line-height: 27px;
        margin-bottom: 8px;
    }
    .price{
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .description_basket{
        height: 49px;
        font-size: 23px;
        width: 167px;
        padding: 0px;
    }
    .button_return{
        margin-left: 160px;
    }
    footer{
        height: 500px;
        border-radius: 40px 40px 0px 0px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 80.21px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
    }
    .society{
        margin-top: 20px; 
    }
}
