@media (max-width:960px){
    .nav_ul_menu{
        margin-left: 6.5vw; 
        font-size: 1.041667vw;
        justify-content: center;
    }
    nav p{
        font-size: 0.625000vw;
        line-height: normal;
    }
    .breadcrumbs{
        font-size: 1.667vw;
    }
    .product_title{
        font-size: 25px;
        line-height: normal;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_960.svg);
     }
     footer{
        height: 49.333333vw;
        font-size: 1.562500vw;
        padding-left: 19.5vw;
        width: 100%;
    }
    .footer_navigation{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contacts{
        padding-left: 0px;
        line-height: 177%; 
    }
    .contacts :first-child{
        font-size: 2.083333vw;
    }
    .society img,
    .contacts img{
        width: 2.083333vw;
        height: 2.083333vw;
    }
    .navigation{
        margin: 2.083333vw 0px 0px 0px;
        width: 20.208333vw;
    }
    .navigation :first-of-type{
        font-size: 2.083333vw;
    }
    .society{
        margin-top: 2.083333vw; 
        width: 37.25vw;
    }
    .society :first-of-type{
        font-size: 2.083333vw;
        margin-top: 0.104167vw;
        margin-right: 1.041667vw;
    }
    .society_align p{
        margin-top: 0.416667vw;
        font-size: 1.562500vw !important;
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 1.562500vw !important;
    }
}
