@media (max-width:320px){
    .nav_ul_menu{
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
    .product_header{
        flex-direction: column;
        align-items: flex-start;
    }
    .product_title{
        font-size: 4.688vw;
        margin-right:10.00000vw;
    }
    .qty .plus,
    .qty .minus,
    .qty .count,
    .description_basket{
        height: 7vw;
    }
    .qty .plus,
    .qty .minus,
    .qty .count{
        width: 6.250vw;
    }
    .qty .plus,
    .qty .minus{
        font-size: 6vw;
    }
    .qty .plus{
        line-height: 7vw;
    }
    .qty .count{
        font-size: 5vw;
    }
    .button_return{
        border-radius: 5.000vw;
    }
    footer{
        height: 156.250vw;
        padding-left: 9.375vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 25.06562vw;
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}
