@media (max-width:320px){
    .breadcrumbs{
        display: none;
    }
    .conditions_title{
        font-size: 4.688vw;
        margin-right: 10.00000vw;
    }
    .conditions_text{
        font-size: 4.063vw;
    }
    .button_return{
        border-radius: 5.000vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}