@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        margin-top: 4.167vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_480.svg);
    }
    .conditions_header{
        margin-bottom: 3.542vw;
        margin-top: 5px;
    }
    .conditions_title{
        font-size: 4.542vw;
        line-height: normal;
    }
    .conditions_text{
        font-size: 3.125vw;
        margin-bottom: 4.166667vw;
        width: 64.3vw;
    }
    .button_return{
        font-size: 2.425vw;
        margin-bottom: 4.792vw;
        margin-left: 37.771vw;
        width: 26.575vw;
        line-height: normal;
        height: 9.900vw;
        border-radius: 2.333vw;
        text-align: center;
    }
    footer{
        height: 118.750vw;
    }
    .footer_navigation{
        width: 29.21053vw;
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 10.71042vw;
        font-size: 3.125vw;
        width: 53.125vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 1.04167vw;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        line-height: 177%; 
        width: 31.04167vw;
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society{
        line-height: 277%; 
        width: 61.66667vw;
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 3.125vw !important; 
    }
}