@media (max-width:1600px){
    .nav_ul_menu{
        justify-content: center;
        margin-left: 10.771vw;
    }
    nav p{
        line-height: normal;
    }
    nav img{
        width: 2.908vw;
        height: 2.292vw;
    }
    .breadcrumbs{
        font-size: 1.563vw;
    }
    .conditions_header{
        margin: 1vw 19.653vw 1.604vw 19.653vw;
    }
    footer {
        padding-left: 15.548vw;
        height: 31.406vw;
        padding-right: 15.653vw;
    }
    .contacts{
        line-height: 177%; 
        margin-right: 4.513vw;
        font-size: 1.500000vw;
        width: 290.8px;
    }
    .navigation{
        margin-right: 7.145vw;
        font-size: 1.500000vw;
        margin-left:2.312vw;
    }
    .society {
        width: 408px;
        font-size: 1.500000vw;
    }
    .contacts :first-of-type{
        font-size: 2.000000vw;
    }
    .navigation :first-of-type{
        font-size: 2.000000vw;
    }
    .society :first-of-type{
        font-family: "MontBold";  
        font-size: 2.000000vw;
    }
    .society_align p{
        font-size: 1.500000vw !important; 
    }
    footer img{
        width: 1.41881vw;
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 1.5vw !important;
    }
}