@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 24px;
        height: 36px;
        margin-top: 20px;
        margin-left: 18.653vw;
        margin-bottom: 1.7vw;
        align-self: flex-start;
    }
    .article_header{
        margin-left: 18.653vw;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 2.632vw;
    }
    .article_title{
        margin-right: 23.524vw;        
        font-size: 3.63158vw;
    }
    .breadcrumbs{
        margin-left: 18.653vw;
        font-size: 1.71053vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_760.svg);
    }
    .articles{
        width: 57.000vw;
        grid-template: 30.91053vw repeat(8, 25.91053vw) / repeat(2, 1fr);
        margin-bottom: 24px;
    }
    .main_article{
        grid-column: 1/3;
    }
    .main_photo{
        width: 57.000vw;
        height: 20.78947vw;
        margin-bottom: 1.36842vw;
    }
    .main_photo img{
        width: 100%;
        object-fit: cover;
    }
    .title{
        font-size: 1.91813vw;
        margin-bottom: 0.30781vw;
        width: 35.32865vw;
        margin-left: 1.999vw;
    }
    .date{
        font-size: 1.37224vw;
        margin-left: 2.052vw;
    }
    .little_title{
        font-size: 1.91813vw;
        margin-bottom: 0.30781vw;
        margin-left: 1.999vw;
    }
    .little_date{
        font-size: 1.37224vw;
        margin-left: 2.052vw;
    }
    .little_photo{
        height: 15.78947vw;
        width: 27.43026vw;
        margin-bottom: 10.4px;
    }
    .little_photo img{
        width: 100%;
        object-fit: cover;
    }
    footer{
        height: 64.474vw;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts :first-child,
    .navigation :first-child,
    .society :first-child{
        font-size: 2.36842vw;
    }
    .footer_icons_contacts{
        gap: 0.972vw; 
        margin-left: 10px;
    }
    .contacts,
    .navigation,
    .society{
        line-height: 177%; 
        font-size: 1.97368vw;
    }
    .contacts{
        margin-top: 10.52632vw;
    }
    .society img,
    .contacts img{
        width: 2.63158vw;
        height: 2.63158vw;
    } 
    .society_align p{
        font-size: 1.97368vw !important;
    }
}