@media (max-width:1200px){
    .nav_ul_menu{
        font-size: 17px;
        column-gap: 18px;
        margin: 25px 0px 26px 70px;
    }
    .basket{
        margin-left: calc(85.34px - 31.21px);
    }
    nav p{
        font-size: 15px;
        width: 173.01px;
        margin-left: 13.38px;
    }
    nav img{
        width: 55.33px;
        height: 43.62px;
    }
    .article_header{
        margin-left: 142px;
    }
    .breadcrumbs{
        margin-left: 142px;
        font-size: 18px;
    }
    .breadcrumbs-item:not(:last-child):after {
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_1200.svg);
     }
    .article_title{
        font-size: 41px;
        line-height: normal;
    }
    /* 407.23px */
    .articles{
        grid-template: repeat(6, 318.63px) / repeat(3, 1fr);
        width: 916.51px;
        column-gap: 32.11px;
        row-gap: 31.31px;
        margin-left: 142px;
        margin-bottom: 40px;
    }
    .main_photo{
        width: 600.699px;
        height: 209.544px;
        margin-bottom: 15.9px;
    }
    .little_photo{
        width: 283.901px;
        height: 211.009px;
        margin-bottom: 15.9px;
    }
    .title{
        font-size: 21.3px;
        margin-bottom: 4.27px;
        width: 380.71px;
        margin-left: 28.98px;
    }
    .date{
        font-size: 20.587px;
        margin-left: 30.24px;
    }
    .little_title{
        font-size: 21.31px;
        margin-bottom: 9.024px;
        margin-left: 28.56px;
    }
    .little_date{
        font-size: 16.11px;
        margin-left: 28.17px;
    }
    .button_return{
        width: 242px;
        height: 80px;
        font-size: 23px;
        padding: 0px;
        padding-top: 12px;
        margin-left: 478px;
        line-height: normal;
        margin-bottom: 65px;
    }
    footer{
        height: 400px;
        font-size: 19px;
        padding-left: 142px;
        padding-right: 142px;
        width: 100%;
    }
    .contacts{
        padding-left: 0px;
        margin-top: 100.21px; 
    }
    .contacts :nth-child(2){
        margin-top: 0px;
    }
    .contacts :first-child{
        font-size: 25px;
    }
    .contacts :last-child{
        margin-top: -2px;
    }
    .footer_icons_contacts{
        display: flex;
        flex-direction: row;
        gap:9.15px;
        align-items: center;
        margin-left: 19.44px;
    }
    .navigation{
        list-style-type: none;
        line-height: 177%; 
        margin: 100.21px 0px 0px 0px;
        width: 251px;
    }
    .navigation :first-of-type{
        font-size: 25px;
    }
    .society{
        margin-top: 100.21px; 
        padding-left: 0px;
        width: 419px;
    }
    .society :first-of-type{
        font-size: 25px;
        margin-top: 4px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 24px !important;
    }
}