@media (max-width:1600px){
    .nav_ul_menu{
        justify-content: center;
        margin-left: 11.771vw;
    }
    nav p{
        line-height: normal;
    }
    nav img{
        width: 2.908vw;
        height: 2.292vw;
    }
    .breadcrumbs{
        font-size: 1.563vw;
    }
    .catalog_title{
        margin-right: 15.524000000000001vw;
    }
    .catalog_header{
        margin: 0px 19.653vw 30.65px 19.653vw;
    }
    .flex_naim img{
        width: 1.875vw;
        object-fit: cover;
    }
    footer {
        padding-left: 15.548vw;
        padding-right: 15.653vw;
    }
    .footer_navigation{
    }
    .contacts{
        line-height: 177%; 
        margin-right: 4.513vw;
        width: 290.8px;
    }
    .navigation{
        margin-right: 7.145vw;
        margin-left:2.312vw;
    }
    .society {
        width: 400px;
    }
}