@media (max-width:1200px){
    .nav_ul_menu{
        font-size: 14px;
    }
    nav p{
        font-size: 0.788vw;
        line-height: normal;
    }
    .breadcrumbs-item:not(:last-child):after {
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_1200.svg);
    }
     .catalog_search::placeholder{
        font-size: 13px;
    }
    footer{
        height: 400px;
        font-size: 16px;
        padding-left: 9.5vw;
    }
    .contacts{
        padding-left: 0px;
        font-size: 16px;
        margin-top: 10.52076vw; 
    }
    .contacts :first-child{
        font-size: 25px;
    }
    .footer_icons_contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 19.44px;
    }
    .navigation{
        list-style-type: none;
        font-size: 16px;
        line-height: 177%; 
        margin: 10.52076vw 0px 0px 0px;
        width: 19.18970vw;
    }
    .navigation :first-of-type{
        font-size: 25px;
    }
    .society{
        margin-top: 10.52076vw; 
        padding-left: 0px;
        font-size: 16px;
        width: 346px;
    }
    .society :first-of-type{
        font-size: 25px;
        margin-top: 4px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 16px !important;
    }
     footer img{
        width: 2.41881vw;
     }
}