@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 50px;
        height: 80px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .breadcrumbs{
        display: none;
    }
    .article_header{
        margin-top: 0px;
        margin-left: 95px;
    }
    .article_title{
        font-size: 35px;
    }
    .articles{
        width: 570px;
        grid-template: repeat(9, 234.92px) / repeat(2, 1fr);
        margin-left: 95px;
        margin-bottom: 24px;
    }
    .main_article{
        grid-column: 1/3;
    }
    .main_photo{
        width: 570px;
        height: 154.577px;
        margin-bottom: 10.4px;
    }
    .main_photo img{
        width: 100%;
        object-fit: cover;
    }
    .little_photo{
        width: 272.81px;
        height: 154.577px;
        margin-bottom: 10.4px;
    }
    .little_photo img{
        width: 100%;
        object-fit: cover;
    }
    .button_return{
        margin-left: 290px;
        padding-left: 0px;
    }
    footer{
        height: 500px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 100.21px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
    }
    .society{
        margin-top: 20px; 
    }
    
}