@media (max-width:320px){
    .nav_ul_menu{
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
    .article_title{
        font-size: 4.688vw;
        margin-right:10.00000vw;
    }
    .articles{
        width: 62.18750vw;
        grid-template: 79.41250vw repeat(16, 66.41250vw) / repeat(1, 1fr);
        gap: 3.12500vw;  
        margin-bottom: 7.50000vw;
    }
    .articles div{
        border-radius: 0px 0px 6.25000vw 6.25000vw;
    }
    .main_article{
        grid-column: 1/2;
    }
    .main_photo{
        height: 60%;
        width: 62.18750vw;
        margin-bottom: 12px ;
    }
    .title, 
    .little_title{
        font-size: 4.688vw;
        margin-top: 1.87500vw;
        margin-bottom: 1vw;
        margin-left: 4.06250vw;
    }
    .date,
    .little_date{
        margin-left: 4.06250vw;
        font-size: 2.74167vw;
    }
    .little_photo{
        width: 62.18750vw;
        height: 60%;
    }

    .button_return{
        border-radius: 5.000vw;
    }
    footer{
        height: 126.25000vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 25.06562vw;
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}