@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        margin-top: 4.167vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_480.svg);
    }
    .article_header{
        margin-bottom: 3.542vw;
        margin-top: 1.042vw;
    }
    .article_title{
        font-size: 4.542vw;
        line-height: normal;
    }
    .articles{
        grid-template: repeat(17, 33.91053vw ) / repeat(1, 1fr);
    }
    .main_article{
        grid-column: 1/2;
    }
    .little_photo{
        width: 57.000vw;
        height: 20.78947vw;
        margin-bottom: 1.36842vw;
    }
    .title,
    .little_title{
        font-size: 2.708vw;
        margin-bottom: 0.80781vw;
        width: 49.32865vw;
        margin-left: 1.999vw;
    }
    .date,
    .little_date{
        font-size: 1.77224vw;
        margin-left: 2.052vw;
    }
    .button_return{
        font-size: 2.425vw;
        margin-bottom: 4.792vw;
        margin-left: 34.771vw;
        width: 26.575vw;
        line-height: normal;
        height: 9.900vw;
        border-radius: 2.10526vw;
        padding-top: 2.192vw;
    }
    footer{
        height: 118.750vw;
    }
    .footer_navigation{
        width: 29.21053vw;
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 10.71042vw;
        font-size: 3.125vw;
        width: 53.125vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 1.04167vw;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        line-height: 177%; 
        width: 31.04167vw;
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society{
        line-height: 277%; 
        width: 61.66667vw;
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 3.125vw !important; 
    }
}