@media (max-width:960px){
    .nav_ul_menu{
        margin-left: 4.771000000000001vw;
        font-size: 10px;
        justify-content: center;
    }
    nav p{
        font-size: 6px;
        line-height: 0.788vw;
    }
    .header{
        margin-bottom: 79px;
    }  
    .breadcrumbs{
        font-size: 16px;
    }
    .article_title{
        font-size: 25px;
        line-height: normal;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_960.svg);
    }
    .articles{
        margin-bottom: 3.125vw;
    }
    footer{
        height: 512px;
        font-size: 15px;
        padding-left: 19.5vw;
        width: 100%;
    }
    .footer_navigation{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contacts{
        padding-left: 0px;
        line-height: 177%; 
        margin-top: 100.21px;
    }
    .contacts :first-child{
        font-size: 20px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
        width: 194px;
    }
    .navigation :first-of-type{
        font-size: 20px;
    }
    .society{
        margin-top: 20px; 
        width: 300px;
    }
    .society :first-of-type{
        font-size: 20px;
        margin-top: 1px;
        margin-right: 10px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 15px !important;
    }
}