@media (max-width:320px){
    .breadcrumbs{
        display: none;
    }
    .article_title{
        font-size: 4.688vw;
    }
    .articles{
        width: 62.18750vw;
        grid-template: 79.41250vw repeat(16, 60.41250vw) / repeat(1, 1fr);
        gap: 3.12500vw;  
        margin-bottom: 5.5vw;
    }
    .articles div{
        border-radius: 0px 0px 6.25000vw 6.25000vw;
    }
    .main_article{
        grid-column: 1/2;
    }
    .main_photo{
        height: 60%;
        width: 62.18750vw;
        margin-bottom: 12px ;
    }
    .title, 
    .little_title{
        font-size: 4.688vw;
        margin-top: 1.87500vw;
        margin-bottom: 1vw;
        margin-left: 4.06250vw;
    }
    .little_title{
        margin-top: 4vw;
    }
    .date,
    .little_date{
        margin-left: 4.06250vw;
        font-size: 2.74167vw;
    }
    .little_photo{
        width: 62.18750vw;
        height: 60%;
    }
    .button_return{
        font-size: 4vw;
        margin-bottom: 7.187vw;
        margin-left: 30.771vw;
        width: 37.575vw;
        line-height: normal;
        height: 14.9vw;
        border-radius: 5vw;
        padding-top: 2.292vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
    
}