@media (max-width:320px){
    .nav_ul_menu{
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
    .gallery_header{
        flex-direction: column;
        align-items: flex-start;
    }
    .gallery_title{
        font-size: 4.688vw;
        margin-right: 10.00000vw;
    }
    .gallery_photos{
        width: 76.250000vw;
        height: 500.000000vw;
        grid-template: repeat(10, 1fr) / repeat(1, 1fr);
        gap: 4.375000vw;
        margin-bottom: 7.500000vw;
        margin-left: 12vw;
    }
    .photo_1,
    .photo_2,
    .photo_3,
    .photo_4,
    .photo_5,
    .photo_6,
    .photo_7,
    .photo_8,
    .photo_9,
    .photo_10{
        grid-column: 1/2;
        border-radius: 4.687500vw;
    }
    .button_return{
        border-radius: 5.000vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 25.06562vw;
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}