@media (max-width:1200px){
    .nav_ul_menu{
        font-size: 1.167vw;
        margin-left: 12vw;
    }
    nav p{
        font-size: 0.788vw;
        line-height: normal;
    }
    .breadcrumbs-item:not(:last-child):after {
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_1200.svg);
    }
    footer{
        height: 27.333vw;
        font-size: 1.333333vw;
        padding-left: 12.5vw;
    }
    .contacts{
        margin-right: 3.513vw;
        width: 280.8px;
        padding-left: 0px;
        font-size: 1.333333vw;
    }
    .contacts :first-child{
        font-size: 2.083333vw;
    }
    .footer_icons_contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1.620000vw;
    }
    .navigation{
        list-style-type: none;
        font-size: 1.333333vw;
        line-height: 177%; 
        margin: 0vw 0px 0px 0px;
        width: 19.18970vw;
    }
    .footer_icons_contacts{
        gap: 0.793vw;
    }
    .navigation :first-of-type{
        font-size: 2.083333vw;
    }
    .society{
        padding-left: 0px;
        font-size: 1.333333vw;
        width: 28.833333vw;
    }
    .society :first-of-type{
        font-size: 2.083333vw;
        margin-top: 0.333333vw;
    }
    .society_align p{
        margin-top: 0.333333vw;
        font-size: 1.333333vw !important;
    }
     footer img{
        width: 1.41881vw;
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 1.333333vw !important;
    }
}