@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .breadcrumbs{
        display: none;
    }
    .gallery_title{
        font-size: 28px;
    }
    .gallery_header{
        margin-left: 89px;
        margin-bottom: 20px;
    }
    .gallery_photos{
        width: 342px;
        height: 2200px;
        grid-template: repeat(10, 1fr) / repeat(1, 1fr);
        gap: 14px;
        margin-left: 69px;
        margin-bottom: 24px;
    }
    .photo_1,
    .photo_2,
    .photo_3,
    .photo_4,
    .photo_5,
    .photo_6,
    .photo_7,
    .photo_8,
    .photo_9,
    .photo_10{
        grid-column: 1/2;
    }
    .button_return{
        margin-left: 150px;
        padding-left: 0px;
    }
    footer{
        height: 500px;
        border-radius: 40px 40px 0px 0px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 80.21px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
    }
    .society{
        margin-top: 20px; 
    }
}