@media (max-width:1600px){
    .nav_ul_menu{
        justify-content: center;
        margin-left: 11.771vw;
    }
    nav p{
        line-height: normal;
    }
    nav img{
        width: 2.908vw;
        height: 2.292vw;
    }
    .breadcrumbs{
        font-size: 1.563vw;
    }
    .gallery_title{
        margin-right: 15.524000000000001vw;
    }

    footer {
        padding-left: 11.548vw;
        padding-right: 15.653vw;
    }
    .contacts{
        line-height: 177%; 
        width: 337px;
    }
    .navigation{
        margin-right: 8.145vw;
        margin-left:2.312vw;
    }
}