@media (max-width:1200px){
    .nav_ul_menu{
        font-size: 15px;
    }
    nav p{
        font-size: 0.788vw;
        line-height: normal;
    }
    .header{
        margin-bottom: 5.25486vw;
    }   
    .header_descriptor_1{
        font-size: 55px;
    }   
    .about_title{
        font-size: 30px;
        margin-bottom: 9.03px;
        line-height: 49px;
    }
    .about_description{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .catalog_title{
        font-size: 30px;
    }
    .catalog_search::placeholder{
        font-size: 13px;
    }
    .gallery_title{
        font-size: 30px;
    }
    .button_catalog {
        margin-bottom: 30px;
    }
    .gallery_title {
        margin-bottom: 32px;
    }
    footer{
        height: 400px;
        font-size: 16px;
    }
    .contacts{
        padding-left: 0px;
        margin-top: 10.52076vw; 
    }
    .contacts :nth-child(2){
        margin-top: 0px;
    }
    .contacts :first-child{
        font-size: 25px;
    }
    .contacts :last-child{
        margin-top: -2px;
    }
    .footer_icons_contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 19.44px;
    }
    .navigation{
        list-style-type: none;
        font-size: 16px;
        line-height: 177%; 
        margin: 10.52076vw 0px 0px 0px;
        width: 19.18970vw;
    }
    .navigation :first-of-type{
        font-size: 25px;
    }
    .society{
        margin-top: 10.52076vw; 
        padding-left: 0px;
        font-size: 16px;
        width: 346px;
    }
    .society :first-of-type{
        font-size: 25px;
        margin-top: 4px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 19px !important;
    }
     footer img{
        width: 2.41881vw;
     }
    
}