@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        width: 6.250vw;
        height: 10.31250vw;
        margin-top: 4.167vw;
    }
    .header{
        height: 41.471vw;
        margin-bottom: 14vw;
        border-radius: 0px 0px 9.792vw 9.792vw;
    }   
    .header_descriptor_1{
        font-size: 7.292vw;
        width: 41.667vw;
        line-height: normal;
        margin-top: 4.167vw;
        margin-bottom: 6.250vw;
    } 
    .main_advantages_id{
        width: 24.04vw;
        height: 12.204vw;
        padding: 3.12500vw 2.08333vw;
    }
    .main_advantages_description_1,
    .main_advantages_description_2,
    .main_advantages_description_3{
        width: 19.16667vw;
        margin-top: 0px;
        margin-left: 0px;
        line-height: 3.33333vw;
        font-size: 2.70833vw;
    }
    .about_title{
        font-size: 3.542vw;
        margin-bottom: 5.03px;
    }
    .about_description{
        font-size: 3.125vw;
        margin-bottom: 20px;
        width: 64.3vw;
    }
    .catalog_header{
        margin-bottom: 17px;    
    }
    .catalog_title{
        font-size: 3.542vw;
        margin-right: 17.524vw;
    }
    .catalog_search {
        padding-top: 0vw;
        padding-bottom: 1vw;
        background-size: 3.125vw; 
        background-position: top 0.625vw right 1.66667vw; 
        height: 4.7125vw;
        width: 31.023vw;
    }
    .catalog_search::placeholder{
        font-size: 1.666667vw;
    }
    .catalog_items{
        grid-template-columns: repeat(2, 31.1vw);
        grid-template-rows: repeat(7, 39.68229vw);
        grid-column-gap: 2.083vw;
        grid-row-gap: 3.125vw;
        margin-left: 18vw;
        margin-bottom: 4.518vw;
    }
    .catalog_item p{
        line-height: normal;
    }
    .catalog_item{
        font-size: 15px;
        border-radius: 4.198vw; 
    }
    .catalog_item_13{
        height: 39.68229vw;
        width: 31.1vw;
        font-size: 15px;
        margin-left: 0px;
        border-radius: 4.198vw;
    }
    .catalog_item_14{
        height: 39.68229vw;
        width: 31.1vw;
        font-size: 15px;
        margin-left: 0px;
        border-radius: 4.198vw;
    }
    .catalog_photo{
        height: 65%;
        object-fit: cover;
    }
    .catalog_item_1_title{
        width: 30.625vw;
        margin-top: 3.006vw;
        font-size: 2.708vw;
    }
    .catalog_item_2_title{
        width: 27.500vw;
        margin-top: 3.006vw;
        font-size: 2.708vw;
    }
    .catalog_item_3_title{
        width: 25.5vw;
        margin-top: 2.006vw;
        margin-left: 2vw;
        font-size: 2.708vw;
    }
    .catalog_item_4_title{
        margin-top: 3.006vw;
        width: 10.625vw;
        margin-left: 9.125vw;
        font-size: 2.708vw;
    }
    .catalog_item_5_title{
        margin-top: 6.042vw;
        margin-left: 7.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_6_title{
        margin-top: 6.042vw;
        margin-left: 8.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_7_title{
        margin-top: 6.042vw;
        margin-left: 6.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_8_title{
        margin-top: 6.042vw;
        margin-left: 7.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_9_title{
        line-height: normal;
        margin-top: 3.006vw;
        width: 10.625vw;
        margin-left: 9.75vw;
        font-size: 2.708vw;
    }
    .catalog_item_10_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_11_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_12_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_13_title{
        margin-top: 6.042vw;
        margin-left: 8.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_14_title{
        margin-top: 4.006vw;
        width: 10.625vw;
        margin-left: 8.750vw;
        font-size: 2.708vw;
    }
    .button_catalog {
        font-size: 2.425vw;
        margin-bottom: 4.792vw;
        margin-left: 34.771vw;
        width: 26.575vw;
        height: 9.900vw;
        border-radius: 3.333vw;
        padding-top: 2.192vw;
    }
    .gallery_items{
        grid-template: repeat(6, 53.469vw) /repeat(1, 86.917vw);
        margin: 0px 6.667vw 30px 6.667vw;
    }
    .gallery_title{
        font-size: 3.542vw;
        margin-bottom: 20px;
    }
    .button_gallery{
        font-size: 2.425vw;
        margin-bottom: 4.792vw;
        margin-left: 34.771vw;
        width: 26.575vw;
        line-height: normal;
        height: 9.900vw;
        border-radius: 3.333vw;
        padding-top: 2.192vw;
    }
    footer{
        height: 118.750vw;
    }
    .footer_navigation{
        width: 29.21053vw;
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 16.71042vw;
        font-size: 3.125vw;
        width: 53.125vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 1.04167vw;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        line-height: 177%; 
        width: 31.04167vw;
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society{
        line-height: 277%; 
        width: 61.66667vw;
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
}