@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 24px;
        height: 36px;
        margin-bottom: 1.7vw;
        margin-left: 18.653vw;
        margin-top: 2.632vw;
        align-self: flex-start;
    }
    .header{
        height: 23.553vw;  
        margin-bottom: 6.102vw;
    }   
    .header_descriptor_1{
        font-size: 4.605vw;
        margin-bottom: 4.868vw;
        margin-top: 5.263vw;
    }
    .main_advantages{
        margin: 0px 19.653vw 77px 15.652999999999999vw;
    }
    .main_advantages_id {
        width: 19.73684vw;
        height: 5.59211vw;
        font-size: 1.97368vw;
        text-align: center;
    }
    .main_advantages_description_1,
    .main_advantages_description_2,
    .main_advantages_description_3 {
        margin-top: 1.83684vw;
        font-size: 1.71053vw;
    }
    .about_title{
        font-size: 2.63158vw;
        margin-bottom: 0.427vw;
        margin-left: 18.653vw;
        line-height: normal;
    }
    .about_description{
        width: 59.3vw;
        margin-left: 18.653vw;
        margin-bottom: 2.63158vw;
    }
    .catalog_search{
        padding-bottom: 0.658vw;
        background-size: 1.973684vw;
        background-position: top 0.394737vw right 1.052632vw;
        height: 2.971053vw;
    }
    .catalog_search::placeholder{
        font-size: 1.052632vw;
    }
    .catalog_items{
        margin-left: 11.65299vw;
    }
    .catalog_header{
        margin-left: 18.653vw;
    }
    .catalog_title{
        margin-right: 15.524vw;        
        font-size: 2.63158vw;
    }
    .catalog_items{
        margin-left: 18.653vw;
    }
    .button_catalog {
        width: 24.21053vw; 
        height: 8.02632vw;
        font-size: 1.97368vw; 
        line-height: normal; 
        margin-left: 38.04868vw;
        padding: 1.48421vw 5.13158vw;
    }
    .gallery_title{
        margin-left: 18.653vw;
        font-size: 2.63158vw;
    }
    .gallery_items{
        grid-template: repeat(3, 22.726vw) /repeat(2, 46.301vw);    
    }
    .button_gallery,
    .button_catalog{
        width: 24.21053vw; 
        height: 8.02632vw;
        font-size: 1.97368vw; 
        line-height: normal; 
        margin-left: 38.04868vw;
        padding: 1.48421vw 5.13158vw;
        border-radius: 2.10526vw;
    }
    footer{
        height: 64.474vw;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts :first-child,
    .navigation :first-child,
    .society :first-child{
        font-size: 2.36842vw;
    }
    .footer_icons_contacts{
        gap: 0.972vw; 
        margin-left: 10px;
    }
    .contacts,
    .navigation,
    .society{
        line-height: 177%; 
        font-size: 1.97368vw;
    }
    .society img,
    .contacts img{
        width: 2.63158vw;
        height: 2.63158vw;
    } 
    .society_align p{
        font-size: 1.97368vw !important;
    }
}