@media (max-width:320px){
    .header{
        margin-bottom: 19.125vw;
    }   
    .about_title{
        font-size: 4.688vw;
        margin-bottom: 5.03px;
        line-height: normal;
    }
    .about_description{
        font-size: 4.063vw;
        margin-bottom: 6.250vw;
    }
    .catalog_header{
        margin-bottom: 6.250vw;
    }
    .catalog_title{
        font-size: 4.688vw;
        margin-right: 10.00000vw;
    }
    .catalog_search{
        grid-area: 2/1/3/2;
        margin-top: 3.125000vw;
        padding-bottom: 1.057895vw;
        width: 63.750vw;
        height: 6.8125vw;
        background-size: 3.75000vw 3.75000vw;
        background-position: top 1.56250vw right 1.56250vw;
    }
    .catalog_search::placeholder{
        font-size: 3.12500vw;
    }
    .catalog_items{
        grid-template-columns: repeat(1, 64.297vw);
        grid-template-rows: repeat(14, 71.875vw);
        margin-bottom: 5.125vw;
    }
    .catalog_item{
        text-align: center;
    }
    .catalog_item p,
    .catalog_item_13 p,
    .catalog_item_14 p{
        font-size: 4.688vw;
        line-height: normal;
    }
    .catalog_item_13{
        width: 64.297vw;
        height: 71.875vw;
        font-size: 4.688vw;
    }
    .catalog_item_14{
        width: 64.297vw;
        height: 71.875vw;
        font-size: 4.688vw;
    }
    .catalog_photo img{
        width: 100%;
        height: 100%;
    }
    .catalog_item_1_title{
        width: 58.125vw;
        margin-top: 7.322vw;
        margin-left: 3.750vw;
    }
    .catalog_item_2_title{
        width: 58.125vw;
        margin-top: 7.322vw;
        margin-left: 3.750vw;
    }
    .catalog_item_3_title{
        width: 41.125vw;
        margin-top: 3.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_4_title{
        width: 34.125vw;
        margin-top: 5.321vw;
        margin-left: 13.75vw;
    }
    .catalog_item_5_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_6_title {
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 9.75vw;
    }
    .catalog_item_7_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_8_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_9_title{
        width: 34.125vw;
        margin-top: 5.321vw;
        margin-left: 13.75vw;
    }
    .catalog_item_10_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_11_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_12_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_13_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .catalog_item_14_title{
        width: 41.125vw;
        margin-top: 8.321vw;
        margin-left: 10.75vw;
    }
    .button_catalog {
        font-size: 4vw;
        margin-bottom: 7.187vw;
        margin-left: 30.771vw;
        width: 37.575vw;
        line-height: normal;
        height: 14.9vw;
        border-radius: 16px;
        padding-top: 2.292vw;
    }
    .gallery_items{
        grid-template: repeat(6, 70.313vw) /repeat(1, 93.750vw);
        margin: 0px 0px 8.125vw 2.963vw;
    }
    .gallery_title{
        font-size: 4.688vw;
        margin-bottom: 6.25000vw;
    }
    .button_gallery{
        font-size: 4vw;
        margin-bottom: 7.187vw;
        margin-left: 30.771vw;
        width: 37.575vw;
        line-height: normal;
        height: 14.9vw;
        border-radius: 16px;
        padding-top: 2.292vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 25.06562vw;
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}