@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .header{
        height: 199.06px;
        margin-bottom: 12vw;
    }   
    .header_descriptor_1{
        font-size: 35px;
        width: 300px;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 30px;
    } 
    .main_advantages_id{
        width: 24.04vw;
        height: 12.204vw;
        padding: 3.12500vw 2.08333vw;
    }
    .main_advantages_description_1,
    .main_advantages_description_2,
    .main_advantages_description_3{
        width: 19.16667vw;
        margin-top: 0px;
        margin-left: 0px;
        line-height: 3.33333vw;
        font-size: 2.70833vw;
    }
    .about_title{
        font-size: 3.542vw;
        margin-bottom: 5.03px;
    }
    .about_description{
        font-size: 3.125vw;
        margin-bottom: 20px;
        width: 64.3vw;
    }
    .catalog_header{
        margin-bottom: 17px;
    }
    .catalog_title{
        font-size: 3.542vw;
        margin-right: 17.524vw;
    }
    .catalog_search {
        padding-bottom: 1.04167vw; 
        background-size: 3.125vw; 
        background-position: top 0.625vw right 1.66667vw; 
        height: 4.7125vw;
        width: 31.023vw;
    }
    .catalog_items{
        grid-template-columns: repeat(2, 31.1vw);
        grid-template-rows: repeat(7, 39.68229vw);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-left: 18vw;
        margin-bottom: 4.518vw;
    }
    .catalog_item{
        font-size: 15px;
    }
    .catalog_item_13{
        height: 39.68229vw;
        width: 31.1vw;
        font-size: 15px;
        margin-left: 0px;
        border-radius: 20.15px;
    }
    .catalog_item_14{
        height: 39.68229vw;
        width: 31.1vw;
        font-size: 15px;
        margin-left: 0px;
        border-radius: 20.15px;
    }
    .catalog_photo{
        height: 65%;
        object-fit: cover;
    }
    .catalog_item_1_title{
        width: 30.625vw;
        margin-top: 3.006vw;
        font-size: 2.708vw;
        line-height: normal;
    }
    .catalog_item_2_title{
        width: 27.500vw;
        margin-top: 3.006vw;
        line-height: normal;
        font-size: 2.708vw;
    }
    .catalog_item_3_title{
        width: 25.5vw;
        margin-top: 2.006vw;
        margin-left: 2vw;
        line-height: normal;
        font-size: 2.708vw;
    }
    .catalog_item_4_title{
        line-height: normal;
        margin-top: 3.006vw;
        width: 10.625vw;
        margin-left: 9.125vw;
        font-size: 2.708vw;
    }
    .catalog_item_5_title{
        margin-top: 6.042vw;
        margin-left: 7.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_6_title{
        margin-top: 6.042vw;
        margin-left: 8.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_7_title{
        margin-top: 6.042vw;
        margin-left: 6.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_8_title{
        margin-top: 6.042vw;
        margin-left: 7.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_9_title{
        line-height: normal;
        margin-top: 3.006vw;
        width: 10.625vw;
        margin-left: 9.75vw;
        font-size: 2.708vw;
    }
    .catalog_item_10_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_11_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_12_title{
        margin-top: 6.042vw;
        margin-left: 9.917vw;
        font-size: 2.708vw;
    }
    .catalog_item_13_title{
        margin-top: 6.042vw;
        margin-left: 8.917vw;
        line-height: normal;
        font-size: 2.708vw;
    }
    .catalog_item_14_title{
        line-height: normal;
        margin-top: 4.006vw;
        width: 10.625vw;
        margin-left: 8.750vw;
        font-size: 2.708vw;
    }
    .button_catalog {
        font-size: 3.125vw;
        margin-bottom: 23px;
        margin-left: 34.771vw;
        width: 29.575vw;
        line-height: normal;
        height: 12.900vw;
        border-radius: 16px;
        padding-top: 2.292vw;
    }
    .gallery_items{
        grid-template: repeat(6, 53.469vw) /repeat(1, 86.917vw);
        margin: 0px 6.667vw 30px 6.667vw;
    }
    .gallery_title{
        font-size: 3.542vw;
        margin-bottom: 20px;
    }
    .button_gallery{
        font-size: 3.125vw;
        margin-bottom: 23px;
        margin-left: 34.771vw;
        width: 29.575vw;
        line-height: normal;
        height: 12.900vw;
        border-radius: 16px;
        padding-top: 2.292vw;
    }
    footer{
        height: 500px;
        border-radius: 40px 40px 0px 0px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 80.21px;
        font-size: 3.125vw;
        width: 60.208vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 5px;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society_align{
        margin-top: -10px;         
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
}