@media (max-width:1600px){
    .nav_ul_menu{
        justify-content: center;
        margin-left: 11.771vw;
    }
    nav p{
        line-height: normal;
    }
    nav img{
        width: 2.908vw;
        height: 2.292vw;
    }
    .header_descriptor_1{
        font-size: 70px;
    }
    .about_title{
        font-size: 40px;
        margin-bottom: 19.03px;
    }
    .about_description{
        margin-bottom: 48px;
        font-size: 26px;
    }
    .catalog_items{
        grid-column-gap: 1.05097vw;
        grid-row-gap: 1.33106vw;
    }
    .catalog_title{
        margin-right: 15.524000000000001vw;
    }
    .catalog_header{
        margin: 0px 19.653vw 30.65px 19.653vw;
    }
    .gallery{
        margin-bottom: 3.680vw;
    }
    .gallery_photo{
        width: 21.01944vw;
        height: 15.76458vw;
    }
    footer {
        padding-left: 11.548vw;
        padding-right: 15.653vw;
    }
    .contacts{
        line-height: 177%; 
        width: 337px;
    }
    .navigation{
        margin-right: 8.145vw;
        margin-left:2.312vw;
    }
}