@media (max-width:960px){
    .nav_ul_menu{
        margin-left: 4.771000000000001vw;
        font-size: 10px;
        justify-content: center;
    }
    .header_descriptor_1{
        font-size: 50px;
    }
    nav p{
        font-size: 6px;
        line-height: 0.788vw;
    }
    .about_title{
        font-size: 25px;
    }
    .about_description{
        font-size: 16px;
    }
    .catalog_header{
        margin-bottom: 25.65px;
    }
    .catalog_title{
        font-size: 25px;
    }
    .catalog_search{
        height: 3.498vw;
        background-size: 2.1vw;
        background-position: top 0.55vw right 0.9980000000000002vw;
    }
    .catalog_search::placeholder{
        font-size: 11px;
    }
    .catalog_item,
    .catalog_item_14,
    .catalog_item_13{
        border-radius: 20px;
    }
    .gallery_title{
        font-size: 25px;
    }
    footer{
        height: 512px;
        font-size: 15px;
        width: 100%;
    }
    .footer_navigation{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contacts{
        padding-left: 0px;
        margin-top: 100.21px;
    }
    .contacts :first-child{
        font-size: 20px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
        width: 194px;
    }
    .navigation :first-of-type{
        font-size: 20px;
    }
    .society{
        margin-top: 20px; 
        width: 300px;
    }
    .society :first-of-type{
        font-size: 20px;
        margin-top: 1px;
        margin-right: 10px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 15px !important;
    }
}