@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 30px;
        height: 70px;
        margin-top: 20px;
        margin-left: 20px;
        align-self: flex-start;
    }
    .header{
        height: 179px;  
        margin-bottom: 7.102vw;
    }   
    .header_descriptor_1{
        font-size: 35px;
        margin-bottom: 37px;
        margin-top: 40px;
    }
    .main_advantages{
        margin: 0px 19.653vw 77px 15.652999999999999vw;
    }
    .main_advantages_id{
        width: 150px;
        height: 45px;
        font-size: 15px;
        text-align: center;
    }
    .main_advantages_description_1,
    .main_advantages_description_2,
    .main_advantages_description_3{
        margin-top: 17px;
        font-size: 13px;
    }
    .about_title{
        font-size: 20px;
        margin-bottom: 0.427vw;
        margin-left: 18.653vw;
        line-height: normal;
    }
    .about_description{
        width: 59.3vw;
        font-size: 16px;
        margin-left: 18.653vw;
        margin-bottom: 20px;
    }
    .catalog_search{
        padding-bottom: 5px;
        background-size: 15px;
        background-position: top 3px right 8px;
        height: 22.58px;
    }
    .catalog_search::placeholder{
        font-size: 8px;
    }
    .catalog_items{
        margin-left: 11.652999999999999vw;
    }
    .catalog_header{
        margin-left: 18.653vw;
    }
    .catalog_title{
        margin-right: 11.524000000000001vw;        
        font-size: 20px;
    }
    .catalog_items{
        margin-left: 18.653vw;
    }
    .button_catalog {
        width: 24.21053vw; 
        height: 8.02632vw;
        font-size: 1.97368vw; 
        line-height: normal; 
        margin-left: 38.048680000000004vw;
        padding: 1.18421vw 5.13158vw;
    }
    .gallery_title{
        margin-left: 18.653vw;
        font-size: 20px;
    }
    .gallery_items{
        grid-template: repeat(3, 22.726vw) /repeat(2, 46.301vw);    
    }
    .button_gallery{
        width: 24.21053vw; 
        height: 8.02632vw;
        font-size: 1.97368vw; 
        line-height: normal; 
        margin-left: 38.048680000000004vw;
        padding: 1.18421vw 5.13158vw;
    }
    footer{
        height: 500px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 100.21px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
    }
    .society{
        margin-top: 20px; 
    }
}