@font-face {
    font-family: "MontReg";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "MontSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face {
    font-family: "MontMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "GilroyMedium";
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "GilroyRegular";
    src: url(../fonts/gilroy-regular.ttf);  
}
@font-face {
    font-family: "GilroySemiBold";
    src: url(../fonts/gilroy-semibold.ttf);    
}
@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/gilroy-bold.ttf);
}
*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
::selection{
    background-color: #B2EE8E;
}
nav a:link{
    text-decoration: none;
    color: #07491E;
}
nav a:visited{
    text-decoration: none;
    color: #07491E;
}
nav a:hover{
    color:#76CB33;
    text-decoration: none;
}
nav a:active{
    color:#76CB33;
}

.nav_ul_menu{
    font-size: 21.93px;
    font-family: "MontBold";
    color: #07491E;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 31.33px;
    padding-inline-start: 0px;
    letter-spacing: 0%;
    margin: 25px 0px 56px 374px;
    line-height: 27px;
}
.nav_ul_menu :nth-child(3){
    width: 277px;
}
.basket{
    display: flex;
    align-items: center;
    margin-left: calc(185.34px - 31.21px);
}
nav p{
    font-family: "MontMedium";
    font-size: 18px;
    width: 173.01px;
    margin-left: 13.38px;
    color: #07491E;
    line-height: 22px;
}
.breadcrumbs {
    padding: 0px;
    list-style: none;
    display: inline;
    font-size: 25px;
    font-family: "MontSemiBold";
    color: #61B75A;
    margin-left: 374px;
    margin-bottom: 18.59px;
    margin-right: -6px;
 }
 .breadcrumbs-item {
    display: inline;
    vertical-align: top;
 }
 .breadcrumbs-item:not(:last-child):after {
    content: url(../icons/catalog_items/Catalog_Breadcrumbs_Right_Row.svg);
    margin-left: 5.8px;
    margin-right: 0.5999999999999996px;
 }
 .breadcrumbs-link {
   color: #61B75A;
   text-decoration: none;
   transition: 1s;
 }
 .breadcrumbs-link:not(span):hover {
   color: #4e9347;
 }
 .breadcrumbs-link.current {
   color: #4e9347;
   text-decoration: none;
   transition: 0.5s;
 }
.article_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 296.35px; */
    margin: 21px 0px 31.52px 374px;
}
.article_title{
    font-size: 50px;
    font-family: "MontBold";
    margin-right: 298.35px;
}
.articles{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    width: 1172px;
    column-gap: 41.04px;
    row-gap: 40.01px;
    margin-left: 374px;
    margin-bottom: 65px;
}
.main_article{
    grid-column: 1/3;
    background-color: rgba(121, 242, 0, 0.27);
    border-radius: 0px 0px 26.56px 26.56px;
    height: 407.23px;
}
.main_photo{
    width: 767.719px;
    height: 267.806px;
    margin-bottom: 18.02px;
}
.main_photo img{
    width: 100%;
    height: 100%;
}
.title{
    font-size: 27.228px;
    font-family: "MontSemiBold";
    margin-bottom: 5.91px;
    width: 524.71px;
    margin-left: 38.03px;
}
.date{
    font-size: 20.587px;
    font-family: "MontSemiBold";
    margin-left: 39.03px;
    color: #61B75A;
}
.little_article{
    background-color: rgba(121, 242, 0, 0.27);
    border-radius: 0px 0px 26.56px 26.56px;
    height: 407.23px;
}
.little_photo{
    width: 362.838px;
    height: 269.678px;
    margin-bottom: 15.9px;
}
.little_photo img{
    width: 100%;
    height: 100%;
}
.little_title{
    font-size: 27.23px;
    font-family: "MontSemiBold";
    margin-bottom: 12.03px;
    margin-left: 36.5px;
}
.little_date{
    font-size: 20.587px;
    font-family: "MontSemiBold";
    margin-left: 36.5px;
    color: #61B75A;
}
.button_return{
    display: inline-block;
    width: 384.958px;
    height: 114.927px;
    border-radius: 12px;
    background: #B2EE8E;
    padding: 19.46px 77.98px;
    margin-left: 767.52px;
    font-family: "MontMedium";
    border: none;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 91px;
    cursor: pointer;
}
.button_return:link{
    color: #000;
    text-decoration: none;
}
.button_return:visited{
    color: #000;
    text-decoration: none;
}
.button_return:hover{
    color: #000;
    text-decoration: none;
}
.button_return:active{
    color: #000;
    text-decoration: none;
} 
footer{
    background-color: #9DD58F;
    border-radius: 128px 108px 0 0;
    height: 507px;
    font-size: 24px;
    font-family: "MontReg";
    padding-left: 372px;
    padding-right: 374px;
}
.footer_navigation{
    display:flex;
    flex-direction: row;
    padding-inline-start: 0px;
}
.contacts{
    list-style-type: none;
    line-height: 172.9%; 
    padding-left: 0px;
    width: 399px;
    margin-top: 138.21px; 
}
.contacts :nth-child(2){
    margin-top: 0px;
}
.contacts :first-child{
    font-family: "MontBold";
    font-size: 32px;
    margin-bottom: 1px;
}
.contacts :last-child{
    margin-top: -2px;
}
.footer_icons_contacts{
    display: flex;
    flex-direction: row;
    gap:9.15px;
    align-items: center;
    margin-left: 19.44px;
}
.footer_icons_contacts :last-child{
    margin-top: 3px;
    margin-left: 1px;
}
.contacts_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.society_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_icon_society{
    margin-right: 16.42px;
}
.navigation{
    list-style-type: none;
    line-height: 177%; 
    margin-left: 99.16px;
    margin-right: 59.84px;
    margin-top: 138.21px; 
    padding-left: 0px;
    padding-right: 0px;
    width: 251px;
}
.navigation :first-of-type{
    font-family: "MontBold";
    font-size: 32px;
    margin-bottom: 3px;
}
.society{
    list-style-type: none;    
    line-height: 168.8%; 
    margin-top: 139.21px; 
    padding-left: 0px;
    width: 419px;
}
.society :first-of-type{
    font-family: "MontBold";  
    font-size: 32px;
    margin-top: 6px;
}
.society_align p{
    margin-top: 4px;
    font-family: "MontReg" !important;
    font-size: 24px !important;
}