@media (max-width:960px){
    .nav_ul_menu{
        margin-left: 4.771000000000001vw;
        font-size: 10px;
        justify-content: center;
    }
    /* .header_descriptor_1{
        font-size: 50px;
    } */
    nav p{
        font-size: 6px;
        line-height: 0.788vw;
    }
    .header{
        margin-bottom: 79px;
    }  
    .breadcrumbs{
        font-size: 16px;
    }
    .catalog_title{
        font-size: 25px;
        line-height: normal;
        margin-right: 20.31250vw;
    }
    .catalog_header{
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .catalog_search{
        height: 3.498vw;
        background-size: 2.1vw;
        background-position: top 0.55vw right 0.9980000000000002vw;
    }
    .catalog_search::placeholder{
        font-size: 11px;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_960.svg);
    }
    .active{
        height: 3.5px;
    }
    .tabcontent{
        margin-top: 2.68421vw;
    }
    .flex_sort{
        margin-bottom: 2.083vw;
    }
    footer{
        height: 512px;
        font-size: 15px;
        padding-left: 19.5vw;
        width: 100%;
    }
    .footer_navigation{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contacts{
        padding-left: 0px;
        line-height: 177%; 
        margin-top: 100.21px;
    }
    .contacts :first-child{
        font-size: 20px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
        width: 194px;
    }
    .navigation :first-of-type{
        font-size: 20px;
    }
    .society{
        margin-top: 20px; 
        width: 300px;
    }
    .society :first-of-type{
        font-size: 20px;
        margin-top: 1px;
        margin-right: 10px;
    }
    .society_align p{
        margin-top: 4px;
        font-size: 15px !important;
    }
}
