@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        margin-top: 4.167vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_480.svg);
    }
    .catalog_header{
        margin-bottom: 3.542vw;
        margin-top: 1.042vw;
    }
    .catalog_title{
        font-size: 4.542vw;
        margin-right: 8.524vw;
        line-height: normal;
    }
    .catalog_search {
        padding-top: 0vw;
        padding-bottom: 1vw;
        background-size: 3.125vw; 
        background-position: top 0.625vw right 1.66667vw; 
        height: 4.7125vw;
        width: 31.023vw;
    }
    .catalog_search::placeholder{
        font-size: 1.666667vw;
    }
    .tab{
        width: 70.97667vw;
    }
    .tab button{
        width: 29.488335vw;
        height: 8.33333vw;
        font-size: 2.50000vw;
    }
    .active{
        width: 29.488335vw;
    }
    .tabcontent_sort{
        font-size: 2.29167vw;
        margin-right: 2.083vw;
    }
    .naim{
        font-size: 2.29167vw;
    }
    p.naim{
        margin-right: 3px;
    }
    .flex_naim{
        margin-right: 3.750vw;
    }
    .tablink_title_1{
        line-height: normal;
    }
    .catalog_cart{
        width: 61.87500vw;
        height: 74.375vw;
        padding: 4.79167vw 4.79167vw;
        margin-bottom: 3.12500vw;
        flex-direction: column;
    }
    .catalog_photo{
        width: 50.875vw;
        height: 31.250vw;
        margin-bottom: 2.500vw;
    }
    .catalog_photo img{
        width: 100%;
        object-fit: cover;
    }
    .cart_description h2{
        font-size: 3.54167vw;
        width: 62.500vw;
        margin: 0.15765vw -27.6051vw 0.61019vw  0.15765vw;
    }
    .description {
        font-size: 2.50000vw;
        text-align: left;
        width: 47.70833vw;
        margin-bottom: 2.500vw;
    }
    .description_2 {
        font-size: 2.50000vw;
        text-align: left;
        width: 47.70833vw;
        margin-bottom: 2.500vw;
    }
    .price{
        margin-bottom: 1.87500vw;
        font-size: 2.80000vw;
        width: 22.70833vw;
    }
    .qty{
        margin-right: 4.98750vw;
    }
    .qty .count {
        font-size: 3.79167vw;
        line-height: 6.25000vw;    
        width: 4.677vw;
        height: 5.302vw;
      }
    .qty .plus {
        font-size: 5.00000vw;
        line-height: 5.79167vw;    
        width: 4.677vw;
        height: 5.302vw;
    }
    .qty .minus {
        font-size: 5.00000vw;
        line-height: 4.79167vw;    
        width: 4.677vw;
        height: 5.302vw;
    }
    .description_basket{
        height: 5.30208vw;
        font-size: 2.12500vw;
        width: 16.66667vw;
        padding-left: 1.25000vw;
        padding-right: 1.25000vw;
    }
    .cart_buttons{
        width: 50.33333vw;
    }
    .pagination {
        font-size: 2.70833vw;
        margin-bottom: 6.25000vw;
    }
    .pagination_active{
        font-size: 3.12500vw;
        width: 4.68333vw;
        height: 4.68333vw;
    }
    .pagination :nth-child(2) {
        margin-right: 16.11px;
        margin-top: 0.62500vw;
    }
    .pagination :nth-child(10) {
        margin-top: 0.62500vw;
        margin-right: 3.38750vw;
    }
    .pagination_left_row img{
        margin: 0.92500vw 1.61458vw 0px -2.08333vw;
        height: 2.91667vw;
        object-fit: cover;
    }
    .pagination_right_row img{
        margin: 0.62500vw;
        height: 2.91667vw;
        object-fit: cover;
    }
    .pagination :nth-child(5){
        display: none;
    }
    .pagination :nth-child(6){
       display: none;
    }
    .pagination :nth-child(7){
       display: none;
    }
    .pagination :nth-child(8){
        display: none;
     }
     footer{
        height: 118.750vw;
    }
    .footer_navigation{
        width: 29.21053vw;
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 10.71042vw;
        font-size: 3.125vw;
        width: 53.125vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 1.04167vw;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        line-height: 177%; 
        width: 31.04167vw;
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society{
        line-height: 277%; 
        width: 61.66667vw;
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 3.125vw !important; 
    }
}
