@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 30px;
        height: 43px;
        margin-top: 20px;
        margin-left: 20px;
        align-self: flex-start;
    }
    .catalog_header{
        margin-left: 18.653vw;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .breadcrumbs{
        margin-left: 18.653vw;
        font-size: 1.71053vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_760.svg);
    }
    .catalog_search{
        width: 24.07895vw;
        padding-bottom: 5px;
        background-size: 15px;
        background-position: top 3px right 8px;
        height: 22.58px;
    }
    .catalog_search::placeholder{
        font-size: 8px;
    }
    .catalog_title{
        margin-right: 27.524vw;        
        font-size: 2.63158vw;
    }
    .tab{
        width: 62.77667vw;
    }
    .tabcontent{
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .tab button{
        width: 20.789vw;
        font-size: 1.67368vw;
    }
    .naim{
        font-size: 1.71053vw;
    }
    .active{
        width: 20.789vw;
        height: 2px;
    }
    .tablink_title_2{
        padding-top: 0.8vw;
    }
    .tablink_title_3{
        padding-top: 0.8vw;
    }
    .tabcontent_sort{
        font-size: 1.71053vw;
    }
    .description_basket{
        width: 10.461vw;
    }
    footer{
        height: 450px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts :first-child,
    .navigation :first-child,
    .society :first-child{
        font-size: 2.36842vw;
    }
    .contacts,
    .navigation{
        line-height: 177%; 
        font-size: 1.97368vw;
    }
    .contacts{
        margin-top: 10.52632vw;
    }
    .society img,
    .contacts img{
        width: 2.63158vw;
        height: 2.63158vw;
    }
    .society{
        margin-top: 20px; 
    }
    .society_align{
        margin-top: -7px;
    }
    .society_align p{
        font-size: 1.97368vw !important;
    }
}
