@media (max-width:320px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        width: 20px;
        height: 10.31250vw;
        margin-top: 20px;
    }
    .breadcrumbs{
        display: none;
    }
    .catalog_header{
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog_title{
        font-size: 4.688vw;
        margin-right:10.00000vw;
    }
    .catalog_search{
        margin-top: 3.125vw;
        padding-top:0.625vw;
        width: 63.750vw;
        height: 6.8125vw;
        background-size: 3.750vw 3.750vw;
        background-position: top 1.56250vw right 1.56250vw;
        padding-left: 3.125vw;
    }
    .catalog_search::placeholder{
        font-size: 3.125vw;
    }
    .pagination {
        font-size: 3.125vw;
        margin-bottom: 6.250vw;
    }
    .pagination_active{
        font-size: 4.688vw;
        width:7.025vw;
        height: 7.025vw;
    }
    .pagination :nth-child(3) {
        display: none;
    }
    .pagination :nth-child(9) {
        display: none;
    }
    .pagination :nth-child(2) {
        margin-right: 1.90938vw;
        margin-top: 0.93750vw;
    }
    .pagination :nth-child(10) {
        display: none;
    }
    .pagination_left_row img{
        margin: 1.33750vw 2.10938vw 0px -3.12500vw;
        height: 3.43750vw;
        object-fit: cover;
    }
    .pagination_right_row img{
        margin-top: 0.93750vw;
        height: 3.43750vw;
        object-fit: cover;
    }
    .pagination :nth-child(5){
        display: none;
    }
    .pagination :nth-child(6){
       display: none;
    }
    .pagination :nth-child(7){
       display: none;
    }
    .pagination :nth-child(8){
        display: none;
     }
    .pagination :nth-child(11) {
        margin-right: 1.772vw;
        margin-top: 0.938vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 25.06562vw;
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society_align{
        margin-top: -8px;
    }
    .society{
        margin-top: 0.25vw;
         
    }
}
