@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        width: 6.250vw;
        height: 10.31250vw;
        margin-top: 4.167vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_480.svg);
    }
    .step_header{
        margin-bottom: 3.542vw;
        margin-top: 1.04167vw;
    }
    .step_title,
    .form_title{
        font-size: 4.542vw;
        line-height: normal;
    }
    .step_indicator{
        margin-left: 4.16667vw;
        margin-bottom: 0px;
        gap: 5px;
    }
     .step_4 p,
     .step_active p,
     .step p{
         text-align: center;
         font-size: 2.71053vw;
    }
     .step,
     .step_active,
     .step_4 {
         width: 20.20833vw;
         height: 31.25000vw;
     }
     .step_active::after, .step_4::after, .step::after {
        top: 10.41667vw;
        width: 5.20833vw;
        left: 18.33750vw;
    }
     .progress_tomato, .progress_tomato_active {
        width: 13.12500vw;
        height: 16.45833vw;
        padding-top: 7.70833vw;
        margin-bottom: 1.45833vw;
        font-size :5vw;
    }
    .form_required{
        font-size: 2.23684vw;
    }
    label{
        font-size: 3.33333vw !important;
    }
    .big_form{
        margin-left: 22.479167vw;
    }
    .input {
        border-width: 0.41667vw;
        width: 54.16667vw;
        height: 9.13542vw;
        border-radius: 2vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .input_house{
        width: 26vw;
    }
    .input_apart{
        width: 26vw;
    }
    .form_place,
    .form_name{
        width: 50.20833vw;
        flex-direction: column;
    }
    .form_adress{
        width:  55.41667vw;
    }
    form .button{
    }
    form p {
        font-size: 2.16316vw;
        width: 43.5vw;
        margin-left: 4.413539999999999vw;
    }
    .form_adress{
        width: 72.596vw;
    }
    form .button{        
        margin-left: 14.39167vw;
        font-size: 2.425vw;
        margin-bottom: 2.792vw;
        width: 26.575vw;
        line-height: normal;
        height: 9.900vw;
        border-radius: 2.333vw;
        text-align: center;
        padding-right: 0px;
    }
    footer{
        height: 118.750vw;
    }
    .footer_navigation{
        width: 29.21053vw;
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        margin-top: 10.71042vw;
        font-size: 3.125vw;
        width: 53.125vw;
    }
    .contacts :first-child {
        font-size: 4.167vw;
    }
    .footer_icons_contacts{
        gap: 1.04167vw;
    }
    .society img,
    .contacts img{
        width: 3.125vw;
        height: 3.125vw;
    }
    .navigation{
        margin: 20px 0px 0px 0px;        
        line-height: 177%; 
        width: 31.04167vw;
        font-size: 3.125vw;
    }
    .navigation :first-child{
        font-size: 4.167vw;
    }
    .society{
        line-height: 277%; 
        width: 61.66667vw;
    }
    .society :first-child{
        font-size: 4.167vw;
    }
    .society p{
        font-size: 3.125vw !important; 
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 3.125vw !important; 
    }
}