@media (max-width:480px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .breadcrumbs{
        display: none;
    }
    .step_title{
        font-size: 28px;
    }
    .step_header{
        margin-left: 69px;
    }
    .step_indicator{
        margin-left: 20px;
        margin-bottom: 0px;
        gap: 5px;
     }
     .step_4 p,
     .step_active p,
     .step p{
         text-align: center;
         font-size: 19px;
     }
     .step,
     .step_active,
     .step_4 {
         width: 97px;
         height: 150px;
     }
     .step_active::after, .step_4::after, .step::after {
        top: 50px;
        width: 25px;
        left: 88.02000000000001px;
    }
     .progress_tomato, .progress_tomato_active {
        width: 63px;
        height: 79px;
        padding-top: 37px;
        margin-bottom: 7px;
        font-size: 24px;
    }
    .big_form{
        margin-left: 69px;
    }
    .form_title{
        font-size: 36px;
    }
    .form_required{
        font-size: 17px;
    }
    label{
        font-size: 21px !important;
    }
    .input{
        border-width: 4px;
        width: 322.46px;
        height: 73.85px;
        margin-right: 20px;
    }
    .input_place{
        width: 322.46px;
        border-width: 4px;
        height: 73.85px;
        margin-right: 20px;
    }
    .input_house{
        width: 149px;
        margin-right: 20px;
    }
    .input_place_1{
        border-width: 4px;
        height: 73.85px;
        width: 322.46px;
    }
    .input_street{
        width: 322.46px;
        margin-right: 20px;
        border-width: 4px;
        height: 73.85px;
    }
    .input_email{
        width: 322.46px;
        margin-right: 20px;
        border-width: 4px;
        height: 73.85px;
    }
    .input_postal{
        width: 322.46px;
        margin-right: 20px;
        border-width: 4px;
        height: 73.85px;
    }
    .input_apart{
        width: 149px;
        margin-right: 20px;
        height: 73.85px;
    }
    .input_index{
        margin-bottom: 17px;
    }
    .form_place,
    .form_name{
        width: 400px;
        flex-wrap: wrap;
    }
    form .button{
        margin-left: 35px;  
        margin-bottom: 10px;
    }
    form p {
        margin-left: -43px;
        font-size: 13px;
    }
    .form_adress{
        width: 348.46px;
    }
    footer{
        height: 500px;
        border-radius: 40px 40px 0px 0px;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts{
        margin-top: 80.21px;
    }
    .society img,
    .contacts img{
        width: 20px;
        height: 20px;
    }
    .navigation{
        margin: 20px 0px 0px 0px;
    }
    .society{
        margin-top: 20px; 
    }
}