@media (max-width:320px){
    .breadcrumbs{
        display: none;
    }
    .step_header{
        flex-direction: column;
        align-items: flex-start;
    }
    .step_title,
    .form_title{
        font-size: 4.688vw;
    }
    .input{
        margin-top: 0.01vw;
        margin-bottom: 4.1vw;
    }
    form .button{
        font-size: 3.5vw;
        margin-bottom: 7.187vw;
        margin-left: 9vw;
        width: 37.575vw;
        line-height: normal;
        height: 10.9vw;
        border-radius: 5vw;
    }
    footer{
        height: 126.25000vw;
    }
    .footer_navigation{
        flex-wrap: wrap;
    }
    .contacts{
        line-height: 177%; 
        width: 60vw;
    }
    .society img,
    .contacts img{
        width: 4.25000vw;
        height: 4.25000vw;
    }
    .navigation{
        margin: 6.250vw 0px 0px 0px;
    }
    .society{
        margin-top: 6.250vw;
    }
}