@media (max-width:760px){
    .nav_ul_menu{
        display: none;
    }
    .burger{
        display: inline-block;
        width: 3.1579vw;
        height: 4.7368vw;
        margin-bottom: 1.7vw;
        margin-left: 18.653vw;
        margin-top: 2.632vw;
        align-self: flex-start;
    }
    .breadcrumbs{
        margin-left: 18.653vw;
        font-size: 1.71053vw;
    }  
    .step_header{
        margin-left: 18.653vw;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 2.632vw;
    }
    .step_title,
    .form_title{    
        font-size: 3.63158vw;
    }
    .breadcrumbs-item:not(:last-child):after{
        content: url(../icons/Catalog_Breadcrumbs_Right_Row_760.svg);
    }
    footer{
        height: 64.474vw;
    }
    .footer_navigation{
        width: 300px;
        flex-wrap: wrap;
    }
    .contacts :first-child,
    .navigation :first-child,
    .society :first-child{
        font-size: 2.36842vw;
    }
    .footer_icons_contacts{
        gap: 0.972vw; 
        margin-left: 10px;
    }
    .contacts,
    .navigation,
    .society{
        line-height: 177%; 
        font-size: 1.97368vw;
    }
    .society img,
    .contacts img{
        width: 2.63158vw;
        height: 2.63158vw;
    } 
    .society_align p{
        font-size: 1.97368vw !important;
    }
    footer a:link,
    footer a:hover,
    footer a:active,
    footer a:visited{
        font-size: 1.97368vw !important;
    }
}